$prismjs-theme-core--token-symbol: (
	color: #905,
	background: false,
	font-weight: false,
	font-style: false,
);

$prismjs-theme-core--token-symbol--style: (
	color: false,
	background: false,
	font-weight: false,
	font-style: false
);

$prismjs-theme-core--token-symbol--language-abap: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-actionscript: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-ada: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-apacheconf: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-apl: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-applescript: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-arduino: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-arff: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-asciidoc: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-asm6502: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-aspnet: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-autohotkey: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-autoit: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-bash: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-basic: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-batch: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-bison: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-brainfuck: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-bro: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-c: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-clike: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-clojure: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-coffeescript: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-core: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-cpp: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-crystal: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-csharp: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-csp: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-css: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-d: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-dart: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-diff: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-django: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-docker: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-eiffel: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-elixir: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-elm: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-erb: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-erlang: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-flow: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-fortran: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-fsharp: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-gedcom: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-gherkin: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-git: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-glsl: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-gml: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-go: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-graphql: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-groovy: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-haml: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-handlebars: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-haskell: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-haxe: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-hpkp: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-hsts: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-http: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-ichigojam: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-icon: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-inform7: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-ini: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-io: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-j: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-java: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-javascript: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-jolie: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-json: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-jsx: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-julia: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-keyman: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-kotlin: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-latex: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-less: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-liquid: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-lisp: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-livescript: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-lolcode: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-lua: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-makefile: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-markdown: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-markup: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-markup-templating: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-matlab: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-mel: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-mizar: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-monkey: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-n4js: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-nasm: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-nginx: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-nim: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-nix: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-nsis: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-objectivec: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-ocaml: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-opencl: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-oz: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-parigp: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-parser: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-pascal: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-perl: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-php: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-plsql: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-powershell: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-processing: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-symbol: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-properties: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-protobuf: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-pug: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-puppet: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-pure: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-python: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-q: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-qore: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-r: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-reason: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-renpy: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-rest: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-rip: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-roboconf: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-ruby: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-rust: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-sas: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-sass: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-scala: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-scheme: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-scss: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-smalltalk: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-smarty: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-soy: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-sql: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-stylus: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-swift: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-tap: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-tcl: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-textile: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-tsx: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-tt2: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-twig: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-typescript: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-vbnet: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-velocity: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-verilog: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-vhdl: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-vim: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-visual-basic: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-wasm: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-wiki: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-xeora: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-xojo: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-xquery: $prismjs-theme-core--token-symbol--style;
$prismjs-theme-core--token-symbol--language-yaml: $prismjs-theme-core--token-symbol--style;
