$prismjs-theme-core--token-pseudo-element: (
	color: #f2ff00
);
$prismjs-theme-core--token-pseudo-element--style: ();
$prismjs-theme-core--token-pseudo-element--language-abap: ();
$prismjs-theme-core--token-pseudo-element--language-actionscript: ();
$prismjs-theme-core--token-pseudo-element--language-ada: ();
$prismjs-theme-core--token-pseudo-element--language-apacheconf: ();
$prismjs-theme-core--token-pseudo-element--language-apl: ();
$prismjs-theme-core--token-pseudo-element--language-applescript: ();
$prismjs-theme-core--token-pseudo-element--language-arduino: ();
$prismjs-theme-core--token-pseudo-element--language-arff: ();
$prismjs-theme-core--token-pseudo-element--language-asciidoc: ();
$prismjs-theme-core--token-pseudo-element--language-asm6502: ();
$prismjs-theme-core--token-pseudo-element--language-aspnet: ();
$prismjs-theme-core--token-pseudo-element--language-autohotkey: ();
$prismjs-theme-core--token-pseudo-element--language-autoit: ();
$prismjs-theme-core--token-pseudo-element--language-bash: ();
$prismjs-theme-core--token-pseudo-element--language-basic: ();
$prismjs-theme-core--token-pseudo-element--language-batch: ();
$prismjs-theme-core--token-pseudo-element--language-bison: ();
$prismjs-theme-core--token-pseudo-element--language-brainfuck: ();
$prismjs-theme-core--token-pseudo-element--language-bro: ();
$prismjs-theme-core--token-pseudo-element--language-c: ();
$prismjs-theme-core--token-pseudo-element--language-clike: ();
$prismjs-theme-core--token-pseudo-element--language-clojure: ();
$prismjs-theme-core--token-pseudo-element--language-coffeescript: ();
$prismjs-theme-core--token-pseudo-element--language-core: ();
$prismjs-theme-core--token-pseudo-element--language-cpp: ();
$prismjs-theme-core--token-pseudo-element--language-crystal: ();
$prismjs-theme-core--token-pseudo-element--language-csharp: ();
$prismjs-theme-core--token-pseudo-element--language-csp: ();
$prismjs-theme-core--token-pseudo-element--language-css: ();
$prismjs-theme-core--token-pseudo-element--language-d: ();
$prismjs-theme-core--token-pseudo-element--language-dart: ();
$prismjs-theme-core--token-pseudo-element--language-diff: ();
$prismjs-theme-core--token-pseudo-element--language-django: ();
$prismjs-theme-core--token-pseudo-element--language-docker: ();
$prismjs-theme-core--token-pseudo-element--language-eiffel: ();
$prismjs-theme-core--token-pseudo-element--language-elixir: ();
$prismjs-theme-core--token-pseudo-element--language-elm: ();
$prismjs-theme-core--token-pseudo-element--language-erb: ();
$prismjs-theme-core--token-pseudo-element--language-erlang: ();
$prismjs-theme-core--token-pseudo-element--language-flow: ();
$prismjs-theme-core--token-pseudo-element--language-fortran: ();
$prismjs-theme-core--token-pseudo-element--language-fsharp: ();
$prismjs-theme-core--token-pseudo-element--language-gedcom: ();
$prismjs-theme-core--token-pseudo-element--language-gherkin: ();
$prismjs-theme-core--token-pseudo-element--language-git: ();
$prismjs-theme-core--token-pseudo-element--language-glsl: ();
$prismjs-theme-core--token-pseudo-element--language-gml: ();
$prismjs-theme-core--token-pseudo-element--language-go: ();
$prismjs-theme-core--token-pseudo-element--language-graphql: ();
$prismjs-theme-core--token-pseudo-element--language-groovy: ();
$prismjs-theme-core--token-pseudo-element--language-haml: ();
$prismjs-theme-core--token-pseudo-element--language-handlebars: ();
$prismjs-theme-core--token-pseudo-element--language-haskell: ();
$prismjs-theme-core--token-pseudo-element--language-haxe: ();
$prismjs-theme-core--token-pseudo-element--language-hpkp: ();
$prismjs-theme-core--token-pseudo-element--language-hsts: ();
$prismjs-theme-core--token-pseudo-element--language-http: ();
$prismjs-theme-core--token-pseudo-element--language-ichigojam: ();
$prismjs-theme-core--token-pseudo-element--language-icon: ();
$prismjs-theme-core--token-pseudo-element--language-inform7: ();
$prismjs-theme-core--token-pseudo-element--language-ini: ();
$prismjs-theme-core--token-pseudo-element--language-io: ();
$prismjs-theme-core--token-pseudo-element--language-j: ();
$prismjs-theme-core--token-pseudo-element--language-java: ();
$prismjs-theme-core--token-pseudo-element--language-javascript: ();
$prismjs-theme-core--token-pseudo-element--language-jolie: ();
$prismjs-theme-core--token-pseudo-element--language-json: ();
$prismjs-theme-core--token-pseudo-element--language-jsx: ();
$prismjs-theme-core--token-pseudo-element--language-julia: ();
$prismjs-theme-core--token-pseudo-element--language-keyman: ();
$prismjs-theme-core--token-pseudo-element--language-kotlin: ();
$prismjs-theme-core--token-pseudo-element--language-latex: ();
$prismjs-theme-core--token-pseudo-element--language-less: ();
$prismjs-theme-core--token-pseudo-element--language-liquid: ();
$prismjs-theme-core--token-pseudo-element--language-lisp: ();
$prismjs-theme-core--token-pseudo-element--language-livescript: ();
$prismjs-theme-core--token-pseudo-element--language-lolcode: ();
$prismjs-theme-core--token-pseudo-element--language-lua: ();
$prismjs-theme-core--token-pseudo-element--language-makefile: ();
$prismjs-theme-core--token-pseudo-element--language-markdown: ();
$prismjs-theme-core--token-pseudo-element--language-markup: ();
$prismjs-theme-core--token-pseudo-element--language-markup-templating: ();
$prismjs-theme-core--token-pseudo-element--language-matlab: ();
$prismjs-theme-core--token-pseudo-element--language-mel: ();
$prismjs-theme-core--token-pseudo-element--language-mizar: ();
$prismjs-theme-core--token-pseudo-element--language-monkey: ();
$prismjs-theme-core--token-pseudo-element--language-n4js: ();
$prismjs-theme-core--token-pseudo-element--language-nasm: ();
$prismjs-theme-core--token-pseudo-element--language-nginx: ();
$prismjs-theme-core--token-pseudo-element--language-nim: ();
$prismjs-theme-core--token-pseudo-element--language-nix: ();
$prismjs-theme-core--token-pseudo-element--language-nsis: ();
$prismjs-theme-core--token-pseudo-element--language-objectivec: ();
$prismjs-theme-core--token-pseudo-element--language-ocaml: ();
$prismjs-theme-core--token-pseudo-element--language-opencl: ();
$prismjs-theme-core--token-pseudo-element--language-oz: ();
$prismjs-theme-core--token-pseudo-element--language-parigp: ();
$prismjs-theme-core--token-pseudo-element--language-parser: ();
$prismjs-theme-core--token-pseudo-element--language-pascal: ();
$prismjs-theme-core--token-pseudo-element--language-perl: ();
$prismjs-theme-core--token-pseudo-element--language-php: ();
$prismjs-theme-core--token-pseudo-element--language-plsql: ();
$prismjs-theme-core--token-pseudo-element--language-powershell: ();
$prismjs-theme-core--token-pseudo-element--language-processing: ();
$prismjs-theme-core--token-pseudo-element--language-prolog: ();
$prismjs-theme-core--token-pseudo-element--language-properties: ();
$prismjs-theme-core--token-pseudo-element--language-protobuf: ();
$prismjs-theme-core--token-pseudo-element--language-pug: ();
$prismjs-theme-core--token-pseudo-element--language-puppet: ();
$prismjs-theme-core--token-pseudo-element--language-pure: ();
$prismjs-theme-core--token-pseudo-element--language-python: ();
$prismjs-theme-core--token-pseudo-element--language-q: ();
$prismjs-theme-core--token-pseudo-element--language-qore: ();
$prismjs-theme-core--token-pseudo-element--language-r: ();
$prismjs-theme-core--token-pseudo-element--language-reason: ();
$prismjs-theme-core--token-pseudo-element--language-renpy: ();
$prismjs-theme-core--token-pseudo-element--language-rest: ();
$prismjs-theme-core--token-pseudo-element--language-rip: ();
$prismjs-theme-core--token-pseudo-element--language-roboconf: ();
$prismjs-theme-core--token-pseudo-element--language-ruby: ();
$prismjs-theme-core--token-pseudo-element--language-rust: ();
$prismjs-theme-core--token-pseudo-element--language-sas: ();
$prismjs-theme-core--token-pseudo-element--language-sass: ();
$prismjs-theme-core--token-pseudo-element--language-scala: ();
$prismjs-theme-core--token-pseudo-element--language-scheme: ();
$prismjs-theme-core--token-pseudo-element--language-scss: ();
$prismjs-theme-core--token-pseudo-element--language-smalltalk: ();
$prismjs-theme-core--token-pseudo-element--language-smarty: ();
$prismjs-theme-core--token-pseudo-element--language-soy: ();
$prismjs-theme-core--token-pseudo-element--language-sql: ();
$prismjs-theme-core--token-pseudo-element--language-stylus: ();
$prismjs-theme-core--token-pseudo-element--language-swift: ();
$prismjs-theme-core--token-pseudo-element--language-tap: ();
$prismjs-theme-core--token-pseudo-element--language-tcl: ();
$prismjs-theme-core--token-pseudo-element--language-textile: ();
$prismjs-theme-core--token-pseudo-element--language-tsx: ();
$prismjs-theme-core--token-pseudo-element--language-tt2: ();
$prismjs-theme-core--token-pseudo-element--language-twig: ();
$prismjs-theme-core--token-pseudo-element--language-typescript: ();
$prismjs-theme-core--token-pseudo-element--language-vbnet: ();
$prismjs-theme-core--token-pseudo-element--language-velocity: ();
$prismjs-theme-core--token-pseudo-element--language-verilog: ();
$prismjs-theme-core--token-pseudo-element--language-vhdl: ();
$prismjs-theme-core--token-pseudo-element--language-vim: ();
$prismjs-theme-core--token-pseudo-element--language-visual-basic: ();
$prismjs-theme-core--token-pseudo-element--language-wasm: ();
$prismjs-theme-core--token-pseudo-element--language-wiki: ();
$prismjs-theme-core--token-pseudo-element--language-xeora: ();
$prismjs-theme-core--token-pseudo-element--language-xojo: ();
$prismjs-theme-core--token-pseudo-element--language-xquery: ();
$prismjs-theme-core--token-pseudo-element--language-yaml: ();
