$prismjs-theme-core--token-doctype: (
	color: slategray,
	background: false,
	font-weight: false,
	font-style: false,
);

$prismjs-theme-core--token-doctype--style: (
	color: false,
	background: false,
	font-weight: false,
	font-style: false
);

$prismjs-theme-core--token-doctype--language-abap: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-actionscript: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-ada: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-apacheconf: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-apl: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-applescript: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-arduino: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-arff: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-asciidoc: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-asm6502: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-aspnet: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-autohotkey: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-autoit: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-bash: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-basic: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-batch: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-bison: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-brainfuck: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-bro: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-c: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-clike: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-clojure: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-coffeescript: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-core: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-cpp: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-crystal: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-csharp: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-csp: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-css: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-d: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-dart: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-diff: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-django: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-docker: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-eiffel: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-elixir: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-elm: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-erb: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-erlang: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-flow: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-fortran: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-fsharp: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-gedcom: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-gherkin: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-git: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-glsl: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-gml: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-go: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-graphql: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-groovy: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-haml: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-handlebars: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-haskell: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-haxe: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-hpkp: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-hsts: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-http: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-ichigojam: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-icon: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-inform7: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-ini: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-io: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-j: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-java: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-javascript: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-jolie: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-json: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-jsx: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-julia: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-keyman: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-kotlin: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-latex: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-less: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-liquid: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-lisp: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-livescript: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-lolcode: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-lua: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-makefile: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-markdown: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-markup: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-markup-templating: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-matlab: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-mel: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-mizar: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-monkey: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-n4js: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-nasm: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-nginx: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-nim: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-nix: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-nsis: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-objectivec: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-ocaml: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-opencl: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-oz: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-parigp: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-parser: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-pascal: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-perl: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-php: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-plsql: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-powershell: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-processing: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-doctype: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-properties: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-protobuf: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-pug: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-puppet: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-pure: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-python: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-q: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-qore: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-r: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-reason: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-renpy: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-rest: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-rip: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-roboconf: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-ruby: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-rust: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-sas: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-sass: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-scala: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-scheme: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-scss: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-smalltalk: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-smarty: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-soy: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-sql: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-stylus: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-swift: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-tap: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-tcl: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-textile: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-tsx: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-tt2: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-twig: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-typescript: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-vbnet: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-velocity: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-verilog: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-vhdl: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-vim: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-visual-basic: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-wasm: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-wiki: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-xeora: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-xojo: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-xquery: $prismjs-theme-core--token-doctype--style;
$prismjs-theme-core--token-doctype--language-yaml: $prismjs-theme-core--token-doctype--style;
