$prismjs-theme-core--token-attribute: (
	color: #aaf
);
$prismjs-theme-core--token-attribute--style: ();
$prismjs-theme-core--token-attribute--language-abap: ();
$prismjs-theme-core--token-attribute--language-actionscript: ();
$prismjs-theme-core--token-attribute--language-ada: ();
$prismjs-theme-core--token-attribute--language-apacheconf: ();
$prismjs-theme-core--token-attribute--language-apl: ();
$prismjs-theme-core--token-attribute--language-applescript: ();
$prismjs-theme-core--token-attribute--language-arduino: ();
$prismjs-theme-core--token-attribute--language-arff: ();
$prismjs-theme-core--token-attribute--language-asciidoc: ();
$prismjs-theme-core--token-attribute--language-asm6502: ();
$prismjs-theme-core--token-attribute--language-aspnet: ();
$prismjs-theme-core--token-attribute--language-autohotkey: ();
$prismjs-theme-core--token-attribute--language-autoit: ();
$prismjs-theme-core--token-attribute--language-bash: ();
$prismjs-theme-core--token-attribute--language-basic: ();
$prismjs-theme-core--token-attribute--language-batch: ();
$prismjs-theme-core--token-attribute--language-bison: ();
$prismjs-theme-core--token-attribute--language-brainfuck: ();
$prismjs-theme-core--token-attribute--language-bro: ();
$prismjs-theme-core--token-attribute--language-c: ();
$prismjs-theme-core--token-attribute--language-clike: ();
$prismjs-theme-core--token-attribute--language-clojure: ();
$prismjs-theme-core--token-attribute--language-coffeescript: ();
$prismjs-theme-core--token-attribute--language-core: ();
$prismjs-theme-core--token-attribute--language-cpp: ();
$prismjs-theme-core--token-attribute--language-crystal: ();
$prismjs-theme-core--token-attribute--language-csharp: ();
$prismjs-theme-core--token-attribute--language-csp: ();
$prismjs-theme-core--token-attribute--language-css: ();
$prismjs-theme-core--token-attribute--language-d: ();
$prismjs-theme-core--token-attribute--language-dart: ();
$prismjs-theme-core--token-attribute--language-diff: ();
$prismjs-theme-core--token-attribute--language-django: ();
$prismjs-theme-core--token-attribute--language-docker: ();
$prismjs-theme-core--token-attribute--language-eiffel: ();
$prismjs-theme-core--token-attribute--language-elixir: ();
$prismjs-theme-core--token-attribute--language-elm: ();
$prismjs-theme-core--token-attribute--language-erb: ();
$prismjs-theme-core--token-attribute--language-erlang: ();
$prismjs-theme-core--token-attribute--language-flow: ();
$prismjs-theme-core--token-attribute--language-fortran: ();
$prismjs-theme-core--token-attribute--language-fsharp: ();
$prismjs-theme-core--token-attribute--language-gedcom: ();
$prismjs-theme-core--token-attribute--language-gherkin: ();
$prismjs-theme-core--token-attribute--language-git: ();
$prismjs-theme-core--token-attribute--language-glsl: ();
$prismjs-theme-core--token-attribute--language-gml: ();
$prismjs-theme-core--token-attribute--language-go: ();
$prismjs-theme-core--token-attribute--language-graphql: ();
$prismjs-theme-core--token-attribute--language-groovy: ();
$prismjs-theme-core--token-attribute--language-haml: ();
$prismjs-theme-core--token-attribute--language-handlebars: ();
$prismjs-theme-core--token-attribute--language-haskell: ();
$prismjs-theme-core--token-attribute--language-haxe: ();
$prismjs-theme-core--token-attribute--language-hpkp: ();
$prismjs-theme-core--token-attribute--language-hsts: ();
$prismjs-theme-core--token-attribute--language-http: ();
$prismjs-theme-core--token-attribute--language-ichigojam: ();
$prismjs-theme-core--token-attribute--language-icon: ();
$prismjs-theme-core--token-attribute--language-inform7: ();
$prismjs-theme-core--token-attribute--language-ini: ();
$prismjs-theme-core--token-attribute--language-io: ();
$prismjs-theme-core--token-attribute--language-j: ();
$prismjs-theme-core--token-attribute--language-java: ();
$prismjs-theme-core--token-attribute--language-javascript: ();
$prismjs-theme-core--token-attribute--language-jolie: ();
$prismjs-theme-core--token-attribute--language-json: ();
$prismjs-theme-core--token-attribute--language-jsx: ();
$prismjs-theme-core--token-attribute--language-julia: ();
$prismjs-theme-core--token-attribute--language-keyman: ();
$prismjs-theme-core--token-attribute--language-kotlin: ();
$prismjs-theme-core--token-attribute--language-latex: ();
$prismjs-theme-core--token-attribute--language-less: ();
$prismjs-theme-core--token-attribute--language-liquid: ();
$prismjs-theme-core--token-attribute--language-lisp: ();
$prismjs-theme-core--token-attribute--language-livescript: ();
$prismjs-theme-core--token-attribute--language-lolcode: ();
$prismjs-theme-core--token-attribute--language-lua: ();
$prismjs-theme-core--token-attribute--language-makefile: ();
$prismjs-theme-core--token-attribute--language-markdown: ();
$prismjs-theme-core--token-attribute--language-markup: ();
$prismjs-theme-core--token-attribute--language-markup-templating: ();
$prismjs-theme-core--token-attribute--language-matlab: ();
$prismjs-theme-core--token-attribute--language-mel: ();
$prismjs-theme-core--token-attribute--language-mizar: ();
$prismjs-theme-core--token-attribute--language-monkey: ();
$prismjs-theme-core--token-attribute--language-n4js: ();
$prismjs-theme-core--token-attribute--language-nasm: ();
$prismjs-theme-core--token-attribute--language-nginx: ();
$prismjs-theme-core--token-attribute--language-nim: ();
$prismjs-theme-core--token-attribute--language-nix: ();
$prismjs-theme-core--token-attribute--language-nsis: ();
$prismjs-theme-core--token-attribute--language-objectivec: ();
$prismjs-theme-core--token-attribute--language-ocaml: ();
$prismjs-theme-core--token-attribute--language-opencl: ();
$prismjs-theme-core--token-attribute--language-oz: ();
$prismjs-theme-core--token-attribute--language-parigp: ();
$prismjs-theme-core--token-attribute--language-parser: ();
$prismjs-theme-core--token-attribute--language-pascal: ();
$prismjs-theme-core--token-attribute--language-perl: ();
$prismjs-theme-core--token-attribute--language-php: ();
$prismjs-theme-core--token-attribute--language-plsql: ();
$prismjs-theme-core--token-attribute--language-powershell: ();
$prismjs-theme-core--token-attribute--language-processing: ();
$prismjs-theme-core--token-attribute--language-prolog: ();
$prismjs-theme-core--token-attribute--language-properties: ();
$prismjs-theme-core--token-attribute--language-protobuf: ();
$prismjs-theme-core--token-attribute--language-pug: ();
$prismjs-theme-core--token-attribute--language-puppet: ();
$prismjs-theme-core--token-attribute--language-pure: ();
$prismjs-theme-core--token-attribute--language-python: ();
$prismjs-theme-core--token-attribute--language-q: ();
$prismjs-theme-core--token-attribute--language-qore: ();
$prismjs-theme-core--token-attribute--language-r: ();
$prismjs-theme-core--token-attribute--language-reason: ();
$prismjs-theme-core--token-attribute--language-renpy: ();
$prismjs-theme-core--token-attribute--language-rest: ();
$prismjs-theme-core--token-attribute--language-rip: ();
$prismjs-theme-core--token-attribute--language-roboconf: ();
$prismjs-theme-core--token-attribute--language-ruby: ();
$prismjs-theme-core--token-attribute--language-rust: ();
$prismjs-theme-core--token-attribute--language-sas: ();
$prismjs-theme-core--token-attribute--language-sass: ();
$prismjs-theme-core--token-attribute--language-scala: ();
$prismjs-theme-core--token-attribute--language-scheme: ();
$prismjs-theme-core--token-attribute--language-scss: ();
$prismjs-theme-core--token-attribute--language-smalltalk: ();
$prismjs-theme-core--token-attribute--language-smarty: ();
$prismjs-theme-core--token-attribute--language-soy: ();
$prismjs-theme-core--token-attribute--language-sql: ();
$prismjs-theme-core--token-attribute--language-stylus: ();
$prismjs-theme-core--token-attribute--language-swift: ();
$prismjs-theme-core--token-attribute--language-tap: ();
$prismjs-theme-core--token-attribute--language-tcl: ();
$prismjs-theme-core--token-attribute--language-textile: ();
$prismjs-theme-core--token-attribute--language-tsx: ();
$prismjs-theme-core--token-attribute--language-tt2: ();
$prismjs-theme-core--token-attribute--language-twig: ();
$prismjs-theme-core--token-attribute--language-typescript: ();
$prismjs-theme-core--token-attribute--language-vbnet: ();
$prismjs-theme-core--token-attribute--language-velocity: ();
$prismjs-theme-core--token-attribute--language-verilog: ();
$prismjs-theme-core--token-attribute--language-vhdl: ();
$prismjs-theme-core--token-attribute--language-vim: ();
$prismjs-theme-core--token-attribute--language-visual-basic: ();
$prismjs-theme-core--token-attribute--language-wasm: ();
$prismjs-theme-core--token-attribute--language-wiki: ();
$prismjs-theme-core--token-attribute--language-xeora: ();
$prismjs-theme-core--token-attribute--language-xojo: ();
$prismjs-theme-core--token-attribute--language-xquery: ();
$prismjs-theme-core--token-attribute--language-yaml: ();
