$prismjs-theme-core--token-keyword: (
	color: #c792ea
);
$prismjs-theme-core--token-keyword--style: ();
$prismjs-theme-core--token-keyword--language-abap: ();
$prismjs-theme-core--token-keyword--language-actionscript: ();
$prismjs-theme-core--token-keyword--language-ada: ();
$prismjs-theme-core--token-keyword--language-apacheconf: ();
$prismjs-theme-core--token-keyword--language-apl: ();
$prismjs-theme-core--token-keyword--language-applescript: ();
$prismjs-theme-core--token-keyword--language-arduino: ();
$prismjs-theme-core--token-keyword--language-arff: ();
$prismjs-theme-core--token-keyword--language-asciidoc: ();
$prismjs-theme-core--token-keyword--language-asm6502: ();
$prismjs-theme-core--token-keyword--language-aspnet: ();
$prismjs-theme-core--token-keyword--language-autohotkey: ();
$prismjs-theme-core--token-keyword--language-autoit: ();
$prismjs-theme-core--token-keyword--language-bash: ();
$prismjs-theme-core--token-keyword--language-basic: ();
$prismjs-theme-core--token-keyword--language-batch: ();
$prismjs-theme-core--token-keyword--language-bison: ();
$prismjs-theme-core--token-keyword--language-brainfuck: ();
$prismjs-theme-core--token-keyword--language-bro: ();
$prismjs-theme-core--token-keyword--language-c: ();
$prismjs-theme-core--token-keyword--language-clike: ();
$prismjs-theme-core--token-keyword--language-clojure: ();
$prismjs-theme-core--token-keyword--language-coffeescript: ();
$prismjs-theme-core--token-keyword--language-core: ();
$prismjs-theme-core--token-keyword--language-cpp: ();
$prismjs-theme-core--token-keyword--language-crystal: ();
$prismjs-theme-core--token-keyword--language-csharp: ();
$prismjs-theme-core--token-keyword--language-csp: ();
$prismjs-theme-core--token-keyword--language-css: ();
$prismjs-theme-core--token-keyword--language-d: ();
$prismjs-theme-core--token-keyword--language-dart: ();
$prismjs-theme-core--token-keyword--language-diff: ();
$prismjs-theme-core--token-keyword--language-django: ();
$prismjs-theme-core--token-keyword--language-docker: ();
$prismjs-theme-core--token-keyword--language-eiffel: ();
$prismjs-theme-core--token-keyword--language-elixir: ();
$prismjs-theme-core--token-keyword--language-elm: ();
$prismjs-theme-core--token-keyword--language-erb: ();
$prismjs-theme-core--token-keyword--language-erlang: ();
$prismjs-theme-core--token-keyword--language-flow: ();
$prismjs-theme-core--token-keyword--language-fortran: ();
$prismjs-theme-core--token-keyword--language-fsharp: ();
$prismjs-theme-core--token-keyword--language-gedcom: ();
$prismjs-theme-core--token-keyword--language-gherkin: ();
$prismjs-theme-core--token-keyword--language-git: ();
$prismjs-theme-core--token-keyword--language-glsl: ();
$prismjs-theme-core--token-keyword--language-gml: ();
$prismjs-theme-core--token-keyword--language-go: ();
$prismjs-theme-core--token-keyword--language-graphql: ();
$prismjs-theme-core--token-keyword--language-groovy: ();
$prismjs-theme-core--token-keyword--language-haml: ();
$prismjs-theme-core--token-keyword--language-handlebars: ();
$prismjs-theme-core--token-keyword--language-haskell: ();
$prismjs-theme-core--token-keyword--language-haxe: ();
$prismjs-theme-core--token-keyword--language-hpkp: ();
$prismjs-theme-core--token-keyword--language-hsts: ();
$prismjs-theme-core--token-keyword--language-http: ();
$prismjs-theme-core--token-keyword--language-ichigojam: ();
$prismjs-theme-core--token-keyword--language-icon: ();
$prismjs-theme-core--token-keyword--language-inform7: ();
$prismjs-theme-core--token-keyword--language-ini: ();
$prismjs-theme-core--token-keyword--language-io: ();
$prismjs-theme-core--token-keyword--language-j: ();
$prismjs-theme-core--token-keyword--language-java: ();
$prismjs-theme-core--token-keyword--language-javascript: ();
$prismjs-theme-core--token-keyword--language-jolie: ();
$prismjs-theme-core--token-keyword--language-json: ();
$prismjs-theme-core--token-keyword--language-jsx: ();
$prismjs-theme-core--token-keyword--language-julia: ();
$prismjs-theme-core--token-keyword--language-keyman: ();
$prismjs-theme-core--token-keyword--language-kotlin: ();
$prismjs-theme-core--token-keyword--language-latex: ();
$prismjs-theme-core--token-keyword--language-less: ();
$prismjs-theme-core--token-keyword--language-liquid: ();
$prismjs-theme-core--token-keyword--language-lisp: ();
$prismjs-theme-core--token-keyword--language-livescript: ();
$prismjs-theme-core--token-keyword--language-lolcode: ();
$prismjs-theme-core--token-keyword--language-lua: ();
$prismjs-theme-core--token-keyword--language-makefile: ();
$prismjs-theme-core--token-keyword--language-markdown: ();
$prismjs-theme-core--token-keyword--language-markup: ();
$prismjs-theme-core--token-keyword--language-markup-templating: ();
$prismjs-theme-core--token-keyword--language-matlab: ();
$prismjs-theme-core--token-keyword--language-mel: ();
$prismjs-theme-core--token-keyword--language-mizar: ();
$prismjs-theme-core--token-keyword--language-monkey: ();
$prismjs-theme-core--token-keyword--language-n4js: ();
$prismjs-theme-core--token-keyword--language-nasm: ();
$prismjs-theme-core--token-keyword--language-nginx: ();
$prismjs-theme-core--token-keyword--language-nim: ();
$prismjs-theme-core--token-keyword--language-nix: ();
$prismjs-theme-core--token-keyword--language-nsis: ();
$prismjs-theme-core--token-keyword--language-objectivec: ();
$prismjs-theme-core--token-keyword--language-ocaml: ();
$prismjs-theme-core--token-keyword--language-opencl: ();
$prismjs-theme-core--token-keyword--language-oz: ();
$prismjs-theme-core--token-keyword--language-parigp: ();
$prismjs-theme-core--token-keyword--language-parser: ();
$prismjs-theme-core--token-keyword--language-pascal: ();
$prismjs-theme-core--token-keyword--language-perl: ();
$prismjs-theme-core--token-keyword--language-php: ();
$prismjs-theme-core--token-keyword--language-plsql: ();
$prismjs-theme-core--token-keyword--language-powershell: ();
$prismjs-theme-core--token-keyword--language-processing: ();
$prismjs-theme-core--token-keyword--language-prolog: ();
$prismjs-theme-core--token-keyword--language-properties: ();
$prismjs-theme-core--token-keyword--language-protobuf: ();
$prismjs-theme-core--token-keyword--language-pug: ();
$prismjs-theme-core--token-keyword--language-puppet: ();
$prismjs-theme-core--token-keyword--language-pure: ();
$prismjs-theme-core--token-keyword--language-python: ();
$prismjs-theme-core--token-keyword--language-q: ();
$prismjs-theme-core--token-keyword--language-qore: ();
$prismjs-theme-core--token-keyword--language-r: ();
$prismjs-theme-core--token-keyword--language-reason: ();
$prismjs-theme-core--token-keyword--language-renpy: ();
$prismjs-theme-core--token-keyword--language-rest: ();
$prismjs-theme-core--token-keyword--language-rip: ();
$prismjs-theme-core--token-keyword--language-roboconf: ();
$prismjs-theme-core--token-keyword--language-ruby: ();
$prismjs-theme-core--token-keyword--language-rust: ();
$prismjs-theme-core--token-keyword--language-sas: ();
$prismjs-theme-core--token-keyword--language-sass: ();
$prismjs-theme-core--token-keyword--language-scala: ();
$prismjs-theme-core--token-keyword--language-scheme: ();
$prismjs-theme-core--token-keyword--language-scss: ();
$prismjs-theme-core--token-keyword--language-smalltalk: ();
$prismjs-theme-core--token-keyword--language-smarty: ();
$prismjs-theme-core--token-keyword--language-soy: ();
$prismjs-theme-core--token-keyword--language-sql: ();
$prismjs-theme-core--token-keyword--language-stylus: ();
$prismjs-theme-core--token-keyword--language-swift: ();
$prismjs-theme-core--token-keyword--language-tap: ();
$prismjs-theme-core--token-keyword--language-tcl: ();
$prismjs-theme-core--token-keyword--language-textile: ();
$prismjs-theme-core--token-keyword--language-tsx: ();
$prismjs-theme-core--token-keyword--language-tt2: ();
$prismjs-theme-core--token-keyword--language-twig: ();
$prismjs-theme-core--token-keyword--language-typescript: ();
$prismjs-theme-core--token-keyword--language-vbnet: ();
$prismjs-theme-core--token-keyword--language-velocity: ();
$prismjs-theme-core--token-keyword--language-verilog: ();
$prismjs-theme-core--token-keyword--language-vhdl: ();
$prismjs-theme-core--token-keyword--language-vim: ();
$prismjs-theme-core--token-keyword--language-visual-basic: ();
$prismjs-theme-core--token-keyword--language-wasm: ();
$prismjs-theme-core--token-keyword--language-wiki: ();
$prismjs-theme-core--token-keyword--language-xeora: ();
$prismjs-theme-core--token-keyword--language-xojo: ();
$prismjs-theme-core--token-keyword--language-xquery: ();
$prismjs-theme-core--token-keyword--language-yaml: ();
