$prismjs-theme-core--token-constant: (
	color: #905
);
$prismjs-theme-core--token-constant--style: ();
$prismjs-theme-core--token-constant--language-abap: ();
$prismjs-theme-core--token-constant--language-actionscript: ();
$prismjs-theme-core--token-constant--language-ada: ();
$prismjs-theme-core--token-constant--language-apacheconf: ();
$prismjs-theme-core--token-constant--language-apl: ();
$prismjs-theme-core--token-constant--language-applescript: ();
$prismjs-theme-core--token-constant--language-arduino: ();
$prismjs-theme-core--token-constant--language-arff: ();
$prismjs-theme-core--token-constant--language-asciidoc: ();
$prismjs-theme-core--token-constant--language-asm6502: ();
$prismjs-theme-core--token-constant--language-aspnet: ();
$prismjs-theme-core--token-constant--language-autohotkey: ();
$prismjs-theme-core--token-constant--language-autoit: ();
$prismjs-theme-core--token-constant--language-bash: ();
$prismjs-theme-core--token-constant--language-basic: ();
$prismjs-theme-core--token-constant--language-batch: ();
$prismjs-theme-core--token-constant--language-bison: ();
$prismjs-theme-core--token-constant--language-brainfuck: ();
$prismjs-theme-core--token-constant--language-bro: ();
$prismjs-theme-core--token-constant--language-c: ();
$prismjs-theme-core--token-constant--language-clike: ();
$prismjs-theme-core--token-constant--language-clojure: ();
$prismjs-theme-core--token-constant--language-coffeescript: ();
$prismjs-theme-core--token-constant--language-core: ();
$prismjs-theme-core--token-constant--language-cpp: ();
$prismjs-theme-core--token-constant--language-crystal: ();
$prismjs-theme-core--token-constant--language-csharp: ();
$prismjs-theme-core--token-constant--language-csp: ();
$prismjs-theme-core--token-constant--language-css: ();
$prismjs-theme-core--token-constant--language-d: ();
$prismjs-theme-core--token-constant--language-dart: ();
$prismjs-theme-core--token-constant--language-diff: ();
$prismjs-theme-core--token-constant--language-django: ();
$prismjs-theme-core--token-constant--language-docker: ();
$prismjs-theme-core--token-constant--language-eiffel: ();
$prismjs-theme-core--token-constant--language-elixir: ();
$prismjs-theme-core--token-constant--language-elm: ();
$prismjs-theme-core--token-constant--language-erb: ();
$prismjs-theme-core--token-constant--language-erlang: ();
$prismjs-theme-core--token-constant--language-flow: ();
$prismjs-theme-core--token-constant--language-fortran: ();
$prismjs-theme-core--token-constant--language-fsharp: ();
$prismjs-theme-core--token-constant--language-gedcom: ();
$prismjs-theme-core--token-constant--language-gherkin: ();
$prismjs-theme-core--token-constant--language-git: ();
$prismjs-theme-core--token-constant--language-glsl: ();
$prismjs-theme-core--token-constant--language-gml: ();
$prismjs-theme-core--token-constant--language-go: ();
$prismjs-theme-core--token-constant--language-graphql: ();
$prismjs-theme-core--token-constant--language-groovy: ();
$prismjs-theme-core--token-constant--language-haml: ();
$prismjs-theme-core--token-constant--language-handlebars: ();
$prismjs-theme-core--token-constant--language-haskell: ();
$prismjs-theme-core--token-constant--language-haxe: ();
$prismjs-theme-core--token-constant--language-hpkp: ();
$prismjs-theme-core--token-constant--language-hsts: ();
$prismjs-theme-core--token-constant--language-http: ();
$prismjs-theme-core--token-constant--language-ichigojam: ();
$prismjs-theme-core--token-constant--language-icon: ();
$prismjs-theme-core--token-constant--language-inform7: ();
$prismjs-theme-core--token-constant--language-ini: ();
$prismjs-theme-core--token-constant--language-io: ();
$prismjs-theme-core--token-constant--language-j: ();
$prismjs-theme-core--token-constant--language-java: ();
$prismjs-theme-core--token-constant--language-javascript: ();
$prismjs-theme-core--token-constant--language-jolie: ();
$prismjs-theme-core--token-constant--language-json: ();
$prismjs-theme-core--token-constant--language-jsx: ();
$prismjs-theme-core--token-constant--language-julia: ();
$prismjs-theme-core--token-constant--language-keyman: ();
$prismjs-theme-core--token-constant--language-kotlin: ();
$prismjs-theme-core--token-constant--language-latex: ();
$prismjs-theme-core--token-constant--language-less: ();
$prismjs-theme-core--token-constant--language-liquid: ();
$prismjs-theme-core--token-constant--language-lisp: ();
$prismjs-theme-core--token-constant--language-livescript: ();
$prismjs-theme-core--token-constant--language-lolcode: ();
$prismjs-theme-core--token-constant--language-lua: ();
$prismjs-theme-core--token-constant--language-makefile: ();
$prismjs-theme-core--token-constant--language-markdown: ();
$prismjs-theme-core--token-constant--language-markup: ();
$prismjs-theme-core--token-constant--language-markup-templating: ();
$prismjs-theme-core--token-constant--language-matlab: ();
$prismjs-theme-core--token-constant--language-mel: ();
$prismjs-theme-core--token-constant--language-mizar: ();
$prismjs-theme-core--token-constant--language-monkey: ();
$prismjs-theme-core--token-constant--language-n4js: ();
$prismjs-theme-core--token-constant--language-nasm: ();
$prismjs-theme-core--token-constant--language-nginx: ();
$prismjs-theme-core--token-constant--language-nim: ();
$prismjs-theme-core--token-constant--language-nix: ();
$prismjs-theme-core--token-constant--language-nsis: ();
$prismjs-theme-core--token-constant--language-objectivec: ();
$prismjs-theme-core--token-constant--language-ocaml: ();
$prismjs-theme-core--token-constant--language-opencl: ();
$prismjs-theme-core--token-constant--language-oz: ();
$prismjs-theme-core--token-constant--language-parigp: ();
$prismjs-theme-core--token-constant--language-parser: ();
$prismjs-theme-core--token-constant--language-pascal: ();
$prismjs-theme-core--token-constant--language-perl: ();
$prismjs-theme-core--token-constant--language-php: ();
$prismjs-theme-core--token-constant--language-plsql: ();
$prismjs-theme-core--token-constant--language-powershell: ();
$prismjs-theme-core--token-constant--language-processing: ();
$prismjs-theme-core--token-constant--language-prolog: ();
$prismjs-theme-core--token-constant--language-properties: ();
$prismjs-theme-core--token-constant--language-protobuf: ();
$prismjs-theme-core--token-constant--language-pug: ();
$prismjs-theme-core--token-constant--language-puppet: ();
$prismjs-theme-core--token-constant--language-pure: ();
$prismjs-theme-core--token-constant--language-python: ();
$prismjs-theme-core--token-constant--language-q: ();
$prismjs-theme-core--token-constant--language-qore: ();
$prismjs-theme-core--token-constant--language-r: ();
$prismjs-theme-core--token-constant--language-reason: ();
$prismjs-theme-core--token-constant--language-renpy: ();
$prismjs-theme-core--token-constant--language-rest: ();
$prismjs-theme-core--token-constant--language-rip: ();
$prismjs-theme-core--token-constant--language-roboconf: ();
$prismjs-theme-core--token-constant--language-ruby: ();
$prismjs-theme-core--token-constant--language-rust: ();
$prismjs-theme-core--token-constant--language-sas: ();
$prismjs-theme-core--token-constant--language-sass: ();
$prismjs-theme-core--token-constant--language-scala: ();
$prismjs-theme-core--token-constant--language-scheme: ();
$prismjs-theme-core--token-constant--language-scss: ();
$prismjs-theme-core--token-constant--language-smalltalk: ();
$prismjs-theme-core--token-constant--language-smarty: ();
$prismjs-theme-core--token-constant--language-soy: ();
$prismjs-theme-core--token-constant--language-sql: ();
$prismjs-theme-core--token-constant--language-stylus: ();
$prismjs-theme-core--token-constant--language-swift: ();
$prismjs-theme-core--token-constant--language-tap: ();
$prismjs-theme-core--token-constant--language-tcl: ();
$prismjs-theme-core--token-constant--language-textile: ();
$prismjs-theme-core--token-constant--language-tsx: ();
$prismjs-theme-core--token-constant--language-tt2: ();
$prismjs-theme-core--token-constant--language-twig: ();
$prismjs-theme-core--token-constant--language-typescript: ();
$prismjs-theme-core--token-constant--language-vbnet: ();
$prismjs-theme-core--token-constant--language-velocity: ();
$prismjs-theme-core--token-constant--language-verilog: ();
$prismjs-theme-core--token-constant--language-vhdl: ();
$prismjs-theme-core--token-constant--language-vim: ();
$prismjs-theme-core--token-constant--language-visual-basic: ();
$prismjs-theme-core--token-constant--language-wasm: ();
$prismjs-theme-core--token-constant--language-wiki: ();
$prismjs-theme-core--token-constant--language-xeora: ();
$prismjs-theme-core--token-constant--language-xojo: ();
$prismjs-theme-core--token-constant--language-xquery: ();
$prismjs-theme-core--token-constant--language-yaml: ();
