$prismjs-theme-core--token-pseudo-class: (
	color: #f2ff00
);
$prismjs-theme-core--token-pseudo-class--style: ();
$prismjs-theme-core--token-pseudo-class--language-abap: ();
$prismjs-theme-core--token-pseudo-class--language-actionscript: ();
$prismjs-theme-core--token-pseudo-class--language-ada: ();
$prismjs-theme-core--token-pseudo-class--language-apacheconf: ();
$prismjs-theme-core--token-pseudo-class--language-apl: ();
$prismjs-theme-core--token-pseudo-class--language-applescript: ();
$prismjs-theme-core--token-pseudo-class--language-arduino: ();
$prismjs-theme-core--token-pseudo-class--language-arff: ();
$prismjs-theme-core--token-pseudo-class--language-asciidoc: ();
$prismjs-theme-core--token-pseudo-class--language-asm6502: ();
$prismjs-theme-core--token-pseudo-class--language-aspnet: ();
$prismjs-theme-core--token-pseudo-class--language-autohotkey: ();
$prismjs-theme-core--token-pseudo-class--language-autoit: ();
$prismjs-theme-core--token-pseudo-class--language-bash: ();
$prismjs-theme-core--token-pseudo-class--language-basic: ();
$prismjs-theme-core--token-pseudo-class--language-batch: ();
$prismjs-theme-core--token-pseudo-class--language-bison: ();
$prismjs-theme-core--token-pseudo-class--language-brainfuck: ();
$prismjs-theme-core--token-pseudo-class--language-bro: ();
$prismjs-theme-core--token-pseudo-class--language-c: ();
$prismjs-theme-core--token-pseudo-class--language-clike: ();
$prismjs-theme-core--token-pseudo-class--language-clojure: ();
$prismjs-theme-core--token-pseudo-class--language-coffeescript: ();
$prismjs-theme-core--token-pseudo-class--language-core: ();
$prismjs-theme-core--token-pseudo-class--language-cpp: ();
$prismjs-theme-core--token-pseudo-class--language-crystal: ();
$prismjs-theme-core--token-pseudo-class--language-csharp: ();
$prismjs-theme-core--token-pseudo-class--language-csp: ();
$prismjs-theme-core--token-pseudo-class--language-css: ();
$prismjs-theme-core--token-pseudo-class--language-d: ();
$prismjs-theme-core--token-pseudo-class--language-dart: ();
$prismjs-theme-core--token-pseudo-class--language-diff: ();
$prismjs-theme-core--token-pseudo-class--language-django: ();
$prismjs-theme-core--token-pseudo-class--language-docker: ();
$prismjs-theme-core--token-pseudo-class--language-eiffel: ();
$prismjs-theme-core--token-pseudo-class--language-elixir: ();
$prismjs-theme-core--token-pseudo-class--language-elm: ();
$prismjs-theme-core--token-pseudo-class--language-erb: ();
$prismjs-theme-core--token-pseudo-class--language-erlang: ();
$prismjs-theme-core--token-pseudo-class--language-flow: ();
$prismjs-theme-core--token-pseudo-class--language-fortran: ();
$prismjs-theme-core--token-pseudo-class--language-fsharp: ();
$prismjs-theme-core--token-pseudo-class--language-gedcom: ();
$prismjs-theme-core--token-pseudo-class--language-gherkin: ();
$prismjs-theme-core--token-pseudo-class--language-git: ();
$prismjs-theme-core--token-pseudo-class--language-glsl: ();
$prismjs-theme-core--token-pseudo-class--language-gml: ();
$prismjs-theme-core--token-pseudo-class--language-go: ();
$prismjs-theme-core--token-pseudo-class--language-graphql: ();
$prismjs-theme-core--token-pseudo-class--language-groovy: ();
$prismjs-theme-core--token-pseudo-class--language-haml: ();
$prismjs-theme-core--token-pseudo-class--language-handlebars: ();
$prismjs-theme-core--token-pseudo-class--language-haskell: ();
$prismjs-theme-core--token-pseudo-class--language-haxe: ();
$prismjs-theme-core--token-pseudo-class--language-hpkp: ();
$prismjs-theme-core--token-pseudo-class--language-hsts: ();
$prismjs-theme-core--token-pseudo-class--language-http: ();
$prismjs-theme-core--token-pseudo-class--language-ichigojam: ();
$prismjs-theme-core--token-pseudo-class--language-icon: ();
$prismjs-theme-core--token-pseudo-class--language-inform7: ();
$prismjs-theme-core--token-pseudo-class--language-ini: ();
$prismjs-theme-core--token-pseudo-class--language-io: ();
$prismjs-theme-core--token-pseudo-class--language-j: ();
$prismjs-theme-core--token-pseudo-class--language-java: ();
$prismjs-theme-core--token-pseudo-class--language-javascript: ();
$prismjs-theme-core--token-pseudo-class--language-jolie: ();
$prismjs-theme-core--token-pseudo-class--language-json: ();
$prismjs-theme-core--token-pseudo-class--language-jsx: ();
$prismjs-theme-core--token-pseudo-class--language-julia: ();
$prismjs-theme-core--token-pseudo-class--language-keyman: ();
$prismjs-theme-core--token-pseudo-class--language-kotlin: ();
$prismjs-theme-core--token-pseudo-class--language-latex: ();
$prismjs-theme-core--token-pseudo-class--language-less: ();
$prismjs-theme-core--token-pseudo-class--language-liquid: ();
$prismjs-theme-core--token-pseudo-class--language-lisp: ();
$prismjs-theme-core--token-pseudo-class--language-livescript: ();
$prismjs-theme-core--token-pseudo-class--language-lolcode: ();
$prismjs-theme-core--token-pseudo-class--language-lua: ();
$prismjs-theme-core--token-pseudo-class--language-makefile: ();
$prismjs-theme-core--token-pseudo-class--language-markdown: ();
$prismjs-theme-core--token-pseudo-class--language-markup: ();
$prismjs-theme-core--token-pseudo-class--language-markup-templating: ();
$prismjs-theme-core--token-pseudo-class--language-matlab: ();
$prismjs-theme-core--token-pseudo-class--language-mel: ();
$prismjs-theme-core--token-pseudo-class--language-mizar: ();
$prismjs-theme-core--token-pseudo-class--language-monkey: ();
$prismjs-theme-core--token-pseudo-class--language-n4js: ();
$prismjs-theme-core--token-pseudo-class--language-nasm: ();
$prismjs-theme-core--token-pseudo-class--language-nginx: ();
$prismjs-theme-core--token-pseudo-class--language-nim: ();
$prismjs-theme-core--token-pseudo-class--language-nix: ();
$prismjs-theme-core--token-pseudo-class--language-nsis: ();
$prismjs-theme-core--token-pseudo-class--language-objectivec: ();
$prismjs-theme-core--token-pseudo-class--language-ocaml: ();
$prismjs-theme-core--token-pseudo-class--language-opencl: ();
$prismjs-theme-core--token-pseudo-class--language-oz: ();
$prismjs-theme-core--token-pseudo-class--language-parigp: ();
$prismjs-theme-core--token-pseudo-class--language-parser: ();
$prismjs-theme-core--token-pseudo-class--language-pascal: ();
$prismjs-theme-core--token-pseudo-class--language-perl: ();
$prismjs-theme-core--token-pseudo-class--language-php: ();
$prismjs-theme-core--token-pseudo-class--language-plsql: ();
$prismjs-theme-core--token-pseudo-class--language-powershell: ();
$prismjs-theme-core--token-pseudo-class--language-processing: ();
$prismjs-theme-core--token-pseudo-class--language-prolog: ();
$prismjs-theme-core--token-pseudo-class--language-properties: ();
$prismjs-theme-core--token-pseudo-class--language-protobuf: ();
$prismjs-theme-core--token-pseudo-class--language-pug: ();
$prismjs-theme-core--token-pseudo-class--language-puppet: ();
$prismjs-theme-core--token-pseudo-class--language-pure: ();
$prismjs-theme-core--token-pseudo-class--language-python: ();
$prismjs-theme-core--token-pseudo-class--language-q: ();
$prismjs-theme-core--token-pseudo-class--language-qore: ();
$prismjs-theme-core--token-pseudo-class--language-r: ();
$prismjs-theme-core--token-pseudo-class--language-reason: ();
$prismjs-theme-core--token-pseudo-class--language-renpy: ();
$prismjs-theme-core--token-pseudo-class--language-rest: ();
$prismjs-theme-core--token-pseudo-class--language-rip: ();
$prismjs-theme-core--token-pseudo-class--language-roboconf: ();
$prismjs-theme-core--token-pseudo-class--language-ruby: ();
$prismjs-theme-core--token-pseudo-class--language-rust: ();
$prismjs-theme-core--token-pseudo-class--language-sas: ();
$prismjs-theme-core--token-pseudo-class--language-sass: ();
$prismjs-theme-core--token-pseudo-class--language-scala: ();
$prismjs-theme-core--token-pseudo-class--language-scheme: ();
$prismjs-theme-core--token-pseudo-class--language-scss: ();
$prismjs-theme-core--token-pseudo-class--language-smalltalk: ();
$prismjs-theme-core--token-pseudo-class--language-smarty: ();
$prismjs-theme-core--token-pseudo-class--language-soy: ();
$prismjs-theme-core--token-pseudo-class--language-sql: ();
$prismjs-theme-core--token-pseudo-class--language-stylus: ();
$prismjs-theme-core--token-pseudo-class--language-swift: ();
$prismjs-theme-core--token-pseudo-class--language-tap: ();
$prismjs-theme-core--token-pseudo-class--language-tcl: ();
$prismjs-theme-core--token-pseudo-class--language-textile: ();
$prismjs-theme-core--token-pseudo-class--language-tsx: ();
$prismjs-theme-core--token-pseudo-class--language-tt2: ();
$prismjs-theme-core--token-pseudo-class--language-twig: ();
$prismjs-theme-core--token-pseudo-class--language-typescript: ();
$prismjs-theme-core--token-pseudo-class--language-vbnet: ();
$prismjs-theme-core--token-pseudo-class--language-velocity: ();
$prismjs-theme-core--token-pseudo-class--language-verilog: ();
$prismjs-theme-core--token-pseudo-class--language-vhdl: ();
$prismjs-theme-core--token-pseudo-class--language-vim: ();
$prismjs-theme-core--token-pseudo-class--language-visual-basic: ();
$prismjs-theme-core--token-pseudo-class--language-wasm: ();
$prismjs-theme-core--token-pseudo-class--language-wiki: ();
$prismjs-theme-core--token-pseudo-class--language-xeora: ();
$prismjs-theme-core--token-pseudo-class--language-xojo: ();
$prismjs-theme-core--token-pseudo-class--language-xquery: ();
$prismjs-theme-core--token-pseudo-class--language-yaml: ();
