$prismjs-theme-core--token-url: (
	color: #9a6e3a,
	background: false,
	font-weight: false,
	font-style: false,
);

$prismjs-theme-core--token-url--style: (
	color: false,
	background: false,
	font-weight: false,
	font-style: false
);

$prismjs-theme-core--token-url--language-abap: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-actionscript: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-ada: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-apacheconf: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-apl: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-applescript: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-arduino: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-arff: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-asciidoc: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-asm6502: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-aspnet: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-autohotkey: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-autoit: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-bash: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-basic: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-batch: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-bison: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-brainfuck: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-bro: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-c: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-clike: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-clojure: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-coffeescript: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-core: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-cpp: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-crystal: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-csharp: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-csp: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-css: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-d: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-dart: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-diff: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-django: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-docker: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-eiffel: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-elixir: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-elm: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-erb: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-erlang: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-flow: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-fortran: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-fsharp: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-gedcom: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-gherkin: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-git: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-glsl: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-gml: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-go: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-graphql: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-groovy: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-haml: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-handlebars: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-haskell: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-haxe: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-hpkp: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-hsts: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-http: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-ichigojam: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-icon: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-inform7: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-ini: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-io: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-j: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-java: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-javascript: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-jolie: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-json: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-jsx: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-julia: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-keyman: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-kotlin: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-latex: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-less: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-liquid: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-lisp: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-livescript: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-lolcode: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-lua: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-makefile: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-markdown: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-markup: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-markup-templating: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-matlab: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-mel: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-mizar: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-monkey: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-n4js: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-nasm: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-nginx: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-nim: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-nix: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-nsis: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-objectivec: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-ocaml: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-opencl: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-oz: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-parigp: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-parser: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-pascal: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-perl: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-php: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-plsql: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-powershell: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-processing: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-url: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-properties: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-protobuf: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-pug: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-puppet: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-pure: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-python: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-q: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-qore: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-r: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-reason: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-renpy: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-rest: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-rip: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-roboconf: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-ruby: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-rust: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-sas: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-sass: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-scala: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-scheme: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-scss: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-smalltalk: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-smarty: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-soy: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-sql: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-stylus: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-swift: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-tap: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-tcl: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-textile: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-tsx: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-tt2: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-twig: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-typescript: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-vbnet: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-velocity: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-verilog: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-vhdl: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-vim: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-visual-basic: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-wasm: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-wiki: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-xeora: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-xojo: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-xquery: $prismjs-theme-core--token-url--style;
$prismjs-theme-core--token-url--language-yaml: $prismjs-theme-core--token-url--style;
