$prismjs-theme-core--use-css-variables: 1 !default;
$prismjs-theme-core--css-import-fonts: false !default;

$prismjs-theme-core--base: (
	color: black,
	text-shadow: none,
	font-family: #{Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace},
	font-size: 1em,
	line-height: 1.5em,
	tab-size: 4,
);

$prismjs-theme-core--selection: (
	color: false,
	background: #b3d4fc
);

$prismjs-theme-core--pre: (
	background: #f5f2f0,
	border-radius: 0,
	margin: .5em 0,
	padding: 1.25em 1em
);

$prismjs-theme-core--code: (
	background: #f5f2f0,
	border-radius: .2em,
	padding: .1em
);

$prismjs-theme-core--namespace: (
	opacity: .7
);

@import "./tokens/atrule/defaults";
@import "./tokens/atrule/get-values";
@import "./tokens/atrule/print-css-vars";

@import "./tokens/attr-name/defaults";
@import "./tokens/attr-name/get-values";
@import "./tokens/attr-name/print-css-vars";

@import "./tokens/attr-value/defaults";
@import "./tokens/attr-value/get-values";
@import "./tokens/attr-value/print-css-vars";

@import "./tokens/attribute/defaults";
@import "./tokens/attribute/get-values";
@import "./tokens/attribute/print-css-vars";

@import "./tokens/boolean/defaults";
@import "./tokens/boolean/get-values";
@import "./tokens/boolean/print-css-vars";

@import "./tokens/builtin/defaults";
@import "./tokens/builtin/get-values";
@import "./tokens/builtin/print-css-vars";

@import "./tokens/cdata/defaults";
@import "./tokens/cdata/get-values";
@import "./tokens/cdata/print-css-vars";

@import "./tokens/char/defaults";
@import "./tokens/char/get-values";
@import "./tokens/char/print-css-vars";

@import "./tokens/class/defaults";
@import "./tokens/class/get-values";
@import "./tokens/class/print-css-vars";

@import "./tokens/class-name/defaults";
@import "./tokens/class-name/get-values";
@import "./tokens/class-name/print-css-vars";

@import "./tokens/comment/defaults";
@import "./tokens/comment/get-values";
@import "./tokens/comment/print-css-vars";

@import "./tokens/constant/defaults";
@import "./tokens/constant/get-values";
@import "./tokens/constant/print-css-vars";

@import "./tokens/deleted/defaults";
@import "./tokens/deleted/get-values";
@import "./tokens/deleted/print-css-vars";

@import "./tokens/doctype/defaults";
@import "./tokens/doctype/get-values";
@import "./tokens/doctype/print-css-vars";

@import "./tokens/entity/defaults";
@import "./tokens/entity/get-values";
@import "./tokens/entity/print-css-vars";

@import "./tokens/function/defaults";
@import "./tokens/function/get-values";
@import "./tokens/function/print-css-vars";

@import "./tokens/hexcode/defaults";
@import "./tokens/hexcode/get-values";
@import "./tokens/hexcode/print-css-vars";

@import "./tokens/id/defaults";
@import "./tokens/id/get-values";
@import "./tokens/id/print-css-vars";

@import "./tokens/important/defaults";
@import "./tokens/important/get-values";
@import "./tokens/important/print-css-vars";

@import "./tokens/inserted/defaults";
@import "./tokens/inserted/get-values";
@import "./tokens/inserted/print-css-vars";

@import "./tokens/keyword/defaults";
@import "./tokens/keyword/get-values";
@import "./tokens/keyword/print-css-vars";

@import "./tokens/number/defaults";
@import "./tokens/number/get-values";
@import "./tokens/number/print-css-vars";

@import "./tokens/operator/defaults";
@import "./tokens/operator/get-values";
@import "./tokens/operator/print-css-vars";

@import "./tokens/prolog/defaults";
@import "./tokens/prolog/get-values";
@import "./tokens/prolog/print-css-vars";

@import "./tokens/property/defaults";
@import "./tokens/property/get-values";
@import "./tokens/property/print-css-vars";

@import "./tokens/pseudo-class/defaults";
@import "./tokens/pseudo-class/get-values";
@import "./tokens/pseudo-class/print-css-vars";

@import "./tokens/pseudo-element/defaults";
@import "./tokens/pseudo-element/get-values";
@import "./tokens/pseudo-element/print-css-vars";

@import "./tokens/punctuation/defaults";
@import "./tokens/punctuation/get-values";
@import "./tokens/punctuation/print-css-vars";

@import "./tokens/regex/defaults";
@import "./tokens/regex/get-values";
@import "./tokens/regex/print-css-vars";

@import "./tokens/selector/defaults";
@import "./tokens/selector/get-values";
@import "./tokens/selector/print-css-vars";

@import "./tokens/string/defaults";
@import "./tokens/string/get-values";
@import "./tokens/string/print-css-vars";

@import "./tokens/symbol/defaults";
@import "./tokens/symbol/get-values";
@import "./tokens/symbol/print-css-vars";

@import "./tokens/tag/defaults";
@import "./tokens/tag/get-values";
@import "./tokens/tag/print-css-vars";

@import "./tokens/url/defaults";
@import "./tokens/url/get-values";
@import "./tokens/url/print-css-vars";

@import "./tokens/variable/defaults";
@import "./tokens/variable/get-values";
@import "./tokens/variable/print-css-vars";

$prismjs-theme-core--plugin--line-highlight--pre: (
	padding: map-get($prismjs-theme-core--pre, padding),
	padding-left: 3em
);

$prismjs-theme-core--plugin--line-highlight--lines: (
	margin: 1.25em 0 0,
	background: linear-gradient(to right, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0))
);

$prismjs-theme-core--plugin--line-highlight--number: ();
