$prismjs-theme-core--use-css-variables: 2;

$prismjs-theme-core--color: black !default;
$prismjs-theme-core--background: #f5f2f0 !default;
$prismjs-theme-core--text-shadow: none !default;
$prismjs-theme-core--font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !default;
$prismjs-theme-core--font-size: 1em !default;
$prismjs-theme-core--line-height: 1.5em !default;
$prismjs-theme-core--tab-size: 4 !default;

$prismjs-theme-core--selection--color: false !default;
$prismjs-theme-core--selection--background: #b3d4fc !default;

$prismjs-theme-core--pre--border-radius: 0 !default;
$prismjs-theme-core--pre--margin: .5em 0 !default;
$prismjs-theme-core--pre--padding: 1em !default;

$prismjs-theme-core--code--border-radius: .2em !default;
$prismjs-theme-core--code--padding: .1em !default;
