$prismjs-theme-core--use-css-variables: 1 !default;

$prismjs-theme-core--base: (
	color: black,
	text-shadow: none,
	font-family: #{Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace},
	font-size: 1em,
	line-height: 1.5em,
	tab-size: 4,
);

$prismjs-theme-core--selection: (
	color: false,
	background: #b3d4fc
);

$prismjs-theme-core--pre: (
	background: #f5f2f0,
	border-radius: 0,
	margin: .5em 0,
	padding: 1em
);

$prismjs-theme-core--code: (
	background: #f5f2f0,
	border-radius: .2em,
	padding: .1em
);

$prismjs-theme-core--namespace: (
	opacity: .7
);

@import "./tokens/boolean/defaults";
@import "./tokens/boolean/get-values";
@import "./tokens/boolean/print-css-vars";

@import "./tokens/cdata/defaults";
@import "./tokens/cdata/get-values";
@import "./tokens/cdata/print-css-vars";

@import "./tokens/comment/defaults";
@import "./tokens/comment/get-values";
@import "./tokens/comment/print-css-vars";

@import "./tokens/doctype/defaults";
@import "./tokens/doctype/get-values";
@import "./tokens/doctype/print-css-vars";

@import "./tokens/number/defaults";
@import "./tokens/number/get-values";
@import "./tokens/number/print-css-vars";

@import "./tokens/prolog/defaults";
@import "./tokens/prolog/get-values";
@import "./tokens/prolog/print-css-vars";

@import "./tokens/property/defaults";
@import "./tokens/property/get-values";
@import "./tokens/property/print-css-vars";

@import "./tokens/punctuation/defaults";
@import "./tokens/punctuation/get-values";
@import "./tokens/punctuation/print-css-vars";

@import "./tokens/string/defaults";
@import "./tokens/string/get-values";
@import "./tokens/string/print-css-vars";

@import "./tokens/tag/defaults";
@import "./tokens/tag/get-values";
@import "./tokens/tag/print-css-vars";
