@import "./defaults";

@mixin _prismjs-theme-core--print-css-vars ($map, $prefix: '') {
	@each $var, $value in $map {
		@if $value {
			#{$prefix + '--' + $var}: $value;
		}
	}
}

@mixin _prismjs-theme-core--get-values ($map, $prefix: '') {
	@each $property, $value in $map {
		@if $value {
			@if $prismjs-theme-core--use-css-variables == 1 {
				#{$property}: $value;
				#{$property}: var(#{$prefix + '--' + $property}); // sass-lint:disable-line no-duplicate-properties
			} @else if $prismjs-theme-core--use-css-variables == 2 {
				#{$property}: var(#{$prefix + '--' + $property});
			} @else {
				#{$property}: $value;
			}
		}
	}
}

@mixin prismjs-theme-core--generate () {
	@if ($prismjs-theme-core--use-css-variables != 0) {
		:root {
			@include _prismjs-theme-core--print-css-vars($prismjs-theme-core--base, --prismjs-theme-core--base);
			@include _prismjs-theme-core--print-css-vars($prismjs-theme-core--selection, --prismjs-theme-core--selection);
			@include _prismjs-theme-core--print-css-vars($prismjs-theme-core--pre, --prismjs-theme-core--pre);
			@include _prismjs-theme-core--print-css-vars($prismjs-theme-core--code, --prismjs-theme-core--code);
			@include _prismjs-theme-core--print-css-vars($prismjs-theme-core--namespace, --prismjs-theme-core--namespace);

			@include _prismjs-theme-core--print-css-vars--token-boolean();
			@include _prismjs-theme-core--print-css-vars--token-cdata();
			@include _prismjs-theme-core--print-css-vars--token-comment();
			@include _prismjs-theme-core--print-css-vars--token-doctype();
			@include _prismjs-theme-core--print-css-vars--token-number();
			@include _prismjs-theme-core--print-css-vars--token-prolog();
			@include _prismjs-theme-core--print-css-vars--token-property();
			@include _prismjs-theme-core--print-css-vars--token-punctuation();
			@include _prismjs-theme-core--print-css-vars--token-string();
			@include _prismjs-theme-core--print-css-vars--token-tag();
		}
	}

	%base {
		@include _prismjs-theme-core--get-values($prismjs-theme-core--base, --prismjs-theme-core--base);
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		hyphens: none;

		&::-moz-selection,
		& ::-moz-selection {
			@include _prismjs-theme-core--get-values($prismjs-theme-core--selection, --prismjs-theme-core--selection);
			text-shadow: none;
			opacity: 1;
		}

		&::selection,
		& ::selection {
			@include _prismjs-theme-core--get-values($prismjs-theme-core--selection, --prismjs-theme-core--selection);
			text-shadow: none;
			opacity: 1;
		}

		@media print {
			text-shadow: none !important; // sass-lint:disable-line no-important
		}
	}

	[class*="language-"] {
		@at-root code#{&} {
			@extend %base;

			:not(pre) > & {
				@include _prismjs-theme-core--get-values($prismjs-theme-core--code, --prismjs-theme-core--code);
				white-space: normal;
			}

			pre > & {
				background: none;
			}
		}

		@at-root pre#{&} {
			@extend %base;
			@include _prismjs-theme-core--get-values($prismjs-theme-core--pre, --prismjs-theme-core--pre);
			overflow: auto;
		}

		.namespace {
			@include _prismjs-theme-core--get-values($prismjs-theme-core--namespace, --prismjs-theme-core--namespace);
		}
	}

	.token {
		&.boolean {
			@include _prismjs-theme-core--get-values--token-boolean();
		}

		&.cdata {
			@include _prismjs-theme-core--get-values--token-cdata();
		}

		&.comment {
			@include _prismjs-theme-core--get-values--token-comment();
		}

		&.doctype {
			@include _prismjs-theme-core--get-values--token-doctype();
		}

		&.number {
			@include _prismjs-theme-core--get-values--token-number();
		}

		&.prolog {
			@include _prismjs-theme-core--get-values--token-prolog();
		}

		&.property {
			@include _prismjs-theme-core--get-values--token-property();
		}

		&.punctuation {
			@include _prismjs-theme-core--get-values--token-punctuation();
		}

		&.string {
			@include _prismjs-theme-core--get-values--token-string();
		}

		&.tag {
			@include _prismjs-theme-core--get-values--token-tag();
		}
	}
}
