@import "defaults";

/// @access private
@mixin _prismjs-theme-core--set($var, $value) {
	@if $value {
		#{$var}: $value;
	}
}

@mixin _prismjs-theme-core--set-map($lists) {
	@each $list in $lists {
		@include _prismjs-theme-core--set(nth($list, 1), nth($list, 2));
	}
}

/// @access private
@mixin _prismjs-theme-core--use($css-property, $value, $var) {
	@if $value {
		@if $prismjs-theme-core--use-css-variables == 1 {
			#{$css-property}: $value; // sass-lint:disable-line no-duplicate-properties
			#{$css-property}: var(#{$var});
		} @else if $prismjs-theme-core--use-css-variables == 2 {
			#{$css-property}: var(#{$var});
		} @else {
			#{$css-property}: $value;
		}
	}
}

@mixin _prismjs-theme-core--use-map($lists) {
	@each $list in $lists {
		@include _prismjs-theme-core--use(nth($list, 1), nth($list, 2), nth($list, 3));
	}
}

@mixin prismjs-theme-core--generate() {
	@if ($prismjs-theme-core--use-css-variables != 0) {
		:root {
			@include _prismjs-theme-core--set-map((
					(--prismjs-theme-core--color, $prismjs-theme-core--color),
					(--prismjs-theme-core--background, $prismjs-theme-core--background),
					(--prismjs-theme-core--text-shadow, $prismjs-theme-core--text-shadow),
					(--prismjs-theme-core--font-family, $prismjs-theme-core--font-family),
					(--prismjs-theme-core--font-size, $prismjs-theme-core--font-size),
					(--prismjs-theme-core--line-height, $prismjs-theme-core--line-height),
					(--prismjs-theme-core--tab-size, $prismjs-theme-core--tab-size),
					(--prismjs-theme-core--selection--color, $prismjs-theme-core--selection--color),
					(--prismjs-theme-core--selection--background, $prismjs-theme-core--selection--background),
					(--prismjs-theme-core--pre--border-radius, $prismjs-theme-core--pre--border-radius),
					(--prismjs-theme-core--pre--margin, $prismjs-theme-core--pre--margin),
					(--prismjs-theme-core--pre--padding, $prismjs-theme-core--pre--padding),
					(--prismjs-theme-core--code--border-radius, $prismjs-theme-core--code--border-radius),
					(--prismjs-theme-core--code--padding, $prismjs-theme-core--code--padding)
			));
		}
	}

	%base {
		@include _prismjs-theme-core--use-map((
				(color, $prismjs-theme-core--color, --prismjs-theme-core--color),
				(text-shadow, $prismjs-theme-core--text-shadow, --prismjs-theme-core--text-shadow),
				(font-family, $prismjs-theme-core--font-family, --prismjs-theme-core--font-family),
				(line-height, $prismjs-theme-core--line-height, --prismjs-theme-core--line-height),
				(tab-size, $prismjs-theme-core--tab-size, --prismjs-theme-core--tab-size)
		));
		background: none;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		hyphens: none;

		&::-moz-selection,
		& ::-moz-selection {
			@include _prismjs-theme-core--use-map((
					(background, $prismjs-theme-core--selection--background, --prismjs-theme-core--selection--background),
					(color, $prismjs-theme-core--selection--color, --prismjs-theme-core--selection--color)
			));
			text-shadow: none;
			opacity: 1;
		}

		&::selection,
		& ::selection {
			@include _prismjs-theme-core--use-map((
					(background, $prismjs-theme-core--selection--background, --prismjs-theme-core--selection--background),
					(color, $prismjs-theme-core--selection--color, --prismjs-theme-core--selection--color)
			));
			text-shadow: none;
			opacity: 1;
		}

		@media print {
			text-shadow: none !important; // sass-lint:disable-line no-important
		}
	}

	[class*="language-"] {
		@at-root code#{&} {
			@extend %base;

			:not(pre) > & {
				@include _prismjs-theme-core--use-map((
						(background, $prismjs-theme-core--background, --prismjs-theme-core--background),
						(border-radius, $prismjs-theme-core--code--border-radius, --prismjs-theme-core--code--border-radius),
						(padding, $prismjs-theme-core--pre--padding, --prismjs-theme-core--code--padding)
				));
				white-space: normal;
			}
		}

		@at-root pre#{&} {
			@extend %base;
			@include _prismjs-theme-core--use-map((
					(background, $prismjs-theme-core--background, --prismjs-theme-core--background),
					(border-radius, $prismjs-theme-core--pre--border-radius, --prismjs-theme-core--pre--border-radius),
					(padding, $prismjs-theme-core--pre--padding, --prismjs-theme-core--pre--padding),
					(margin, $prismjs-theme-core--pre--margin, --prismjs-theme-core--pre--margin)
			));
			overflow: auto;
		}
	}
}
