$prismjs-theme-core--token-unit: (
	color: #c792ea
);
$prismjs-theme-core--token-unit--style: ();
$prismjs-theme-core--token-unit--language-abap: ();
$prismjs-theme-core--token-unit--language-actionscript: ();
$prismjs-theme-core--token-unit--language-ada: ();
$prismjs-theme-core--token-unit--language-apacheconf: ();
$prismjs-theme-core--token-unit--language-apl: ();
$prismjs-theme-core--token-unit--language-applescript: ();
$prismjs-theme-core--token-unit--language-arduino: ();
$prismjs-theme-core--token-unit--language-arff: ();
$prismjs-theme-core--token-unit--language-asciidoc: ();
$prismjs-theme-core--token-unit--language-asm6502: ();
$prismjs-theme-core--token-unit--language-aspnet: ();
$prismjs-theme-core--token-unit--language-autohotkey: ();
$prismjs-theme-core--token-unit--language-autoit: ();
$prismjs-theme-core--token-unit--language-bash: ();
$prismjs-theme-core--token-unit--language-basic: ();
$prismjs-theme-core--token-unit--language-batch: ();
$prismjs-theme-core--token-unit--language-bison: ();
$prismjs-theme-core--token-unit--language-brainfuck: ();
$prismjs-theme-core--token-unit--language-bro: ();
$prismjs-theme-core--token-unit--language-c: ();
$prismjs-theme-core--token-unit--language-clike: ();
$prismjs-theme-core--token-unit--language-clojure: ();
$prismjs-theme-core--token-unit--language-coffeescript: ();
$prismjs-theme-core--token-unit--language-core: ();
$prismjs-theme-core--token-unit--language-cpp: ();
$prismjs-theme-core--token-unit--language-crystal: ();
$prismjs-theme-core--token-unit--language-csharp: ();
$prismjs-theme-core--token-unit--language-csp: ();
$prismjs-theme-core--token-unit--language-css: ();
$prismjs-theme-core--token-unit--language-d: ();
$prismjs-theme-core--token-unit--language-dart: ();
$prismjs-theme-core--token-unit--language-diff: ();
$prismjs-theme-core--token-unit--language-django: ();
$prismjs-theme-core--token-unit--language-docker: ();
$prismjs-theme-core--token-unit--language-eiffel: ();
$prismjs-theme-core--token-unit--language-elixir: ();
$prismjs-theme-core--token-unit--language-elm: ();
$prismjs-theme-core--token-unit--language-erb: ();
$prismjs-theme-core--token-unit--language-erlang: ();
$prismjs-theme-core--token-unit--language-flow: ();
$prismjs-theme-core--token-unit--language-fortran: ();
$prismjs-theme-core--token-unit--language-fsharp: ();
$prismjs-theme-core--token-unit--language-gedcom: ();
$prismjs-theme-core--token-unit--language-gherkin: ();
$prismjs-theme-core--token-unit--language-git: ();
$prismjs-theme-core--token-unit--language-glsl: ();
$prismjs-theme-core--token-unit--language-gml: ();
$prismjs-theme-core--token-unit--language-go: ();
$prismjs-theme-core--token-unit--language-graphql: ();
$prismjs-theme-core--token-unit--language-groovy: ();
$prismjs-theme-core--token-unit--language-haml: ();
$prismjs-theme-core--token-unit--language-handlebars: ();
$prismjs-theme-core--token-unit--language-haskell: ();
$prismjs-theme-core--token-unit--language-haxe: ();
$prismjs-theme-core--token-unit--language-hpkp: ();
$prismjs-theme-core--token-unit--language-hsts: ();
$prismjs-theme-core--token-unit--language-http: ();
$prismjs-theme-core--token-unit--language-ichigojam: ();
$prismjs-theme-core--token-unit--language-icon: ();
$prismjs-theme-core--token-unit--language-inform7: ();
$prismjs-theme-core--token-unit--language-ini: ();
$prismjs-theme-core--token-unit--language-io: ();
$prismjs-theme-core--token-unit--language-j: ();
$prismjs-theme-core--token-unit--language-java: ();
$prismjs-theme-core--token-unit--language-javascript: ();
$prismjs-theme-core--token-unit--language-jolie: ();
$prismjs-theme-core--token-unit--language-json: ();
$prismjs-theme-core--token-unit--language-jsx: ();
$prismjs-theme-core--token-unit--language-julia: ();
$prismjs-theme-core--token-unit--language-keyman: ();
$prismjs-theme-core--token-unit--language-kotlin: ();
$prismjs-theme-core--token-unit--language-latex: ();
$prismjs-theme-core--token-unit--language-less: ();
$prismjs-theme-core--token-unit--language-liquid: ();
$prismjs-theme-core--token-unit--language-lisp: ();
$prismjs-theme-core--token-unit--language-livescript: ();
$prismjs-theme-core--token-unit--language-lolcode: ();
$prismjs-theme-core--token-unit--language-lua: ();
$prismjs-theme-core--token-unit--language-makefile: ();
$prismjs-theme-core--token-unit--language-markdown: ();
$prismjs-theme-core--token-unit--language-markup: ();
$prismjs-theme-core--token-unit--language-markup-templating: ();
$prismjs-theme-core--token-unit--language-matlab: ();
$prismjs-theme-core--token-unit--language-mel: ();
$prismjs-theme-core--token-unit--language-mizar: ();
$prismjs-theme-core--token-unit--language-monkey: ();
$prismjs-theme-core--token-unit--language-n4js: ();
$prismjs-theme-core--token-unit--language-nasm: ();
$prismjs-theme-core--token-unit--language-nginx: ();
$prismjs-theme-core--token-unit--language-nim: ();
$prismjs-theme-core--token-unit--language-nix: ();
$prismjs-theme-core--token-unit--language-nsis: ();
$prismjs-theme-core--token-unit--language-objectivec: ();
$prismjs-theme-core--token-unit--language-ocaml: ();
$prismjs-theme-core--token-unit--language-opencl: ();
$prismjs-theme-core--token-unit--language-oz: ();
$prismjs-theme-core--token-unit--language-parigp: ();
$prismjs-theme-core--token-unit--language-parser: ();
$prismjs-theme-core--token-unit--language-pascal: ();
$prismjs-theme-core--token-unit--language-perl: ();
$prismjs-theme-core--token-unit--language-php: ();
$prismjs-theme-core--token-unit--language-plsql: ();
$prismjs-theme-core--token-unit--language-powershell: ();
$prismjs-theme-core--token-unit--language-processing: ();
$prismjs-theme-core--token-unit--language-prolog: ();
$prismjs-theme-core--token-unit--language-properties: ();
$prismjs-theme-core--token-unit--language-protobuf: ();
$prismjs-theme-core--token-unit--language-pug: ();
$prismjs-theme-core--token-unit--language-puppet: ();
$prismjs-theme-core--token-unit--language-pure: ();
$prismjs-theme-core--token-unit--language-python: ();
$prismjs-theme-core--token-unit--language-q: ();
$prismjs-theme-core--token-unit--language-qore: ();
$prismjs-theme-core--token-unit--language-r: ();
$prismjs-theme-core--token-unit--language-reason: ();
$prismjs-theme-core--token-unit--language-renpy: ();
$prismjs-theme-core--token-unit--language-rest: ();
$prismjs-theme-core--token-unit--language-rip: ();
$prismjs-theme-core--token-unit--language-roboconf: ();
$prismjs-theme-core--token-unit--language-ruby: ();
$prismjs-theme-core--token-unit--language-rust: ();
$prismjs-theme-core--token-unit--language-sas: ();
$prismjs-theme-core--token-unit--language-sass: ();
$prismjs-theme-core--token-unit--language-scala: ();
$prismjs-theme-core--token-unit--language-scheme: ();
$prismjs-theme-core--token-unit--language-scss: ();
$prismjs-theme-core--token-unit--language-smalltalk: ();
$prismjs-theme-core--token-unit--language-smarty: ();
$prismjs-theme-core--token-unit--language-soy: ();
$prismjs-theme-core--token-unit--language-sql: ();
$prismjs-theme-core--token-unit--language-stylus: ();
$prismjs-theme-core--token-unit--language-swift: ();
$prismjs-theme-core--token-unit--language-tap: ();
$prismjs-theme-core--token-unit--language-tcl: ();
$prismjs-theme-core--token-unit--language-textile: ();
$prismjs-theme-core--token-unit--language-tsx: ();
$prismjs-theme-core--token-unit--language-tt2: ();
$prismjs-theme-core--token-unit--language-twig: ();
$prismjs-theme-core--token-unit--language-typescript: ();
$prismjs-theme-core--token-unit--language-vbnet: ();
$prismjs-theme-core--token-unit--language-velocity: ();
$prismjs-theme-core--token-unit--language-verilog: ();
$prismjs-theme-core--token-unit--language-vhdl: ();
$prismjs-theme-core--token-unit--language-vim: ();
$prismjs-theme-core--token-unit--language-visual-basic: ();
$prismjs-theme-core--token-unit--language-wasm: ();
$prismjs-theme-core--token-unit--language-wiki: ();
$prismjs-theme-core--token-unit--language-xeora: ();
$prismjs-theme-core--token-unit--language-xojo: ();
$prismjs-theme-core--token-unit--language-xquery: ();
$prismjs-theme-core--token-unit--language-yaml: ();
