$prismjs-theme-core--token-deleted: (
	color: #905
);
$prismjs-theme-core--token-deleted--style: ();
$prismjs-theme-core--token-deleted--language-abap: ();
$prismjs-theme-core--token-deleted--language-actionscript: ();
$prismjs-theme-core--token-deleted--language-ada: ();
$prismjs-theme-core--token-deleted--language-apacheconf: ();
$prismjs-theme-core--token-deleted--language-apl: ();
$prismjs-theme-core--token-deleted--language-applescript: ();
$prismjs-theme-core--token-deleted--language-arduino: ();
$prismjs-theme-core--token-deleted--language-arff: ();
$prismjs-theme-core--token-deleted--language-asciidoc: ();
$prismjs-theme-core--token-deleted--language-asm6502: ();
$prismjs-theme-core--token-deleted--language-aspnet: ();
$prismjs-theme-core--token-deleted--language-autohotkey: ();
$prismjs-theme-core--token-deleted--language-autoit: ();
$prismjs-theme-core--token-deleted--language-bash: ();
$prismjs-theme-core--token-deleted--language-basic: ();
$prismjs-theme-core--token-deleted--language-batch: ();
$prismjs-theme-core--token-deleted--language-bison: ();
$prismjs-theme-core--token-deleted--language-brainfuck: ();
$prismjs-theme-core--token-deleted--language-bro: ();
$prismjs-theme-core--token-deleted--language-c: ();
$prismjs-theme-core--token-deleted--language-clike: ();
$prismjs-theme-core--token-deleted--language-clojure: ();
$prismjs-theme-core--token-deleted--language-coffeescript: ();
$prismjs-theme-core--token-deleted--language-core: ();
$prismjs-theme-core--token-deleted--language-cpp: ();
$prismjs-theme-core--token-deleted--language-crystal: ();
$prismjs-theme-core--token-deleted--language-csharp: ();
$prismjs-theme-core--token-deleted--language-csp: ();
$prismjs-theme-core--token-deleted--language-css: ();
$prismjs-theme-core--token-deleted--language-d: ();
$prismjs-theme-core--token-deleted--language-dart: ();
$prismjs-theme-core--token-deleted--language-diff: ();
$prismjs-theme-core--token-deleted--language-django: ();
$prismjs-theme-core--token-deleted--language-docker: ();
$prismjs-theme-core--token-deleted--language-eiffel: ();
$prismjs-theme-core--token-deleted--language-elixir: ();
$prismjs-theme-core--token-deleted--language-elm: ();
$prismjs-theme-core--token-deleted--language-erb: ();
$prismjs-theme-core--token-deleted--language-erlang: ();
$prismjs-theme-core--token-deleted--language-flow: ();
$prismjs-theme-core--token-deleted--language-fortran: ();
$prismjs-theme-core--token-deleted--language-fsharp: ();
$prismjs-theme-core--token-deleted--language-gedcom: ();
$prismjs-theme-core--token-deleted--language-gherkin: ();
$prismjs-theme-core--token-deleted--language-git: ();
$prismjs-theme-core--token-deleted--language-glsl: ();
$prismjs-theme-core--token-deleted--language-gml: ();
$prismjs-theme-core--token-deleted--language-go: ();
$prismjs-theme-core--token-deleted--language-graphql: ();
$prismjs-theme-core--token-deleted--language-groovy: ();
$prismjs-theme-core--token-deleted--language-haml: ();
$prismjs-theme-core--token-deleted--language-handlebars: ();
$prismjs-theme-core--token-deleted--language-haskell: ();
$prismjs-theme-core--token-deleted--language-haxe: ();
$prismjs-theme-core--token-deleted--language-hpkp: ();
$prismjs-theme-core--token-deleted--language-hsts: ();
$prismjs-theme-core--token-deleted--language-http: ();
$prismjs-theme-core--token-deleted--language-ichigojam: ();
$prismjs-theme-core--token-deleted--language-icon: ();
$prismjs-theme-core--token-deleted--language-inform7: ();
$prismjs-theme-core--token-deleted--language-ini: ();
$prismjs-theme-core--token-deleted--language-io: ();
$prismjs-theme-core--token-deleted--language-j: ();
$prismjs-theme-core--token-deleted--language-java: ();
$prismjs-theme-core--token-deleted--language-javascript: ();
$prismjs-theme-core--token-deleted--language-jolie: ();
$prismjs-theme-core--token-deleted--language-json: ();
$prismjs-theme-core--token-deleted--language-jsx: ();
$prismjs-theme-core--token-deleted--language-julia: ();
$prismjs-theme-core--token-deleted--language-keyman: ();
$prismjs-theme-core--token-deleted--language-kotlin: ();
$prismjs-theme-core--token-deleted--language-latex: ();
$prismjs-theme-core--token-deleted--language-less: ();
$prismjs-theme-core--token-deleted--language-liquid: ();
$prismjs-theme-core--token-deleted--language-lisp: ();
$prismjs-theme-core--token-deleted--language-livescript: ();
$prismjs-theme-core--token-deleted--language-lolcode: ();
$prismjs-theme-core--token-deleted--language-lua: ();
$prismjs-theme-core--token-deleted--language-makefile: ();
$prismjs-theme-core--token-deleted--language-markdown: ();
$prismjs-theme-core--token-deleted--language-markup: ();
$prismjs-theme-core--token-deleted--language-markup-templating: ();
$prismjs-theme-core--token-deleted--language-matlab: ();
$prismjs-theme-core--token-deleted--language-mel: ();
$prismjs-theme-core--token-deleted--language-mizar: ();
$prismjs-theme-core--token-deleted--language-monkey: ();
$prismjs-theme-core--token-deleted--language-n4js: ();
$prismjs-theme-core--token-deleted--language-nasm: ();
$prismjs-theme-core--token-deleted--language-nginx: ();
$prismjs-theme-core--token-deleted--language-nim: ();
$prismjs-theme-core--token-deleted--language-nix: ();
$prismjs-theme-core--token-deleted--language-nsis: ();
$prismjs-theme-core--token-deleted--language-objectivec: ();
$prismjs-theme-core--token-deleted--language-ocaml: ();
$prismjs-theme-core--token-deleted--language-opencl: ();
$prismjs-theme-core--token-deleted--language-oz: ();
$prismjs-theme-core--token-deleted--language-parigp: ();
$prismjs-theme-core--token-deleted--language-parser: ();
$prismjs-theme-core--token-deleted--language-pascal: ();
$prismjs-theme-core--token-deleted--language-perl: ();
$prismjs-theme-core--token-deleted--language-php: ();
$prismjs-theme-core--token-deleted--language-plsql: ();
$prismjs-theme-core--token-deleted--language-powershell: ();
$prismjs-theme-core--token-deleted--language-processing: ();
$prismjs-theme-core--token-deleted--language-prolog: ();
$prismjs-theme-core--token-deleted--language-properties: ();
$prismjs-theme-core--token-deleted--language-protobuf: ();
$prismjs-theme-core--token-deleted--language-pug: ();
$prismjs-theme-core--token-deleted--language-puppet: ();
$prismjs-theme-core--token-deleted--language-pure: ();
$prismjs-theme-core--token-deleted--language-python: ();
$prismjs-theme-core--token-deleted--language-q: ();
$prismjs-theme-core--token-deleted--language-qore: ();
$prismjs-theme-core--token-deleted--language-r: ();
$prismjs-theme-core--token-deleted--language-reason: ();
$prismjs-theme-core--token-deleted--language-renpy: ();
$prismjs-theme-core--token-deleted--language-rest: ();
$prismjs-theme-core--token-deleted--language-rip: ();
$prismjs-theme-core--token-deleted--language-roboconf: ();
$prismjs-theme-core--token-deleted--language-ruby: ();
$prismjs-theme-core--token-deleted--language-rust: ();
$prismjs-theme-core--token-deleted--language-sas: ();
$prismjs-theme-core--token-deleted--language-sass: ();
$prismjs-theme-core--token-deleted--language-scala: ();
$prismjs-theme-core--token-deleted--language-scheme: ();
$prismjs-theme-core--token-deleted--language-scss: ();
$prismjs-theme-core--token-deleted--language-smalltalk: ();
$prismjs-theme-core--token-deleted--language-smarty: ();
$prismjs-theme-core--token-deleted--language-soy: ();
$prismjs-theme-core--token-deleted--language-sql: ();
$prismjs-theme-core--token-deleted--language-stylus: ();
$prismjs-theme-core--token-deleted--language-swift: ();
$prismjs-theme-core--token-deleted--language-tap: ();
$prismjs-theme-core--token-deleted--language-tcl: ();
$prismjs-theme-core--token-deleted--language-textile: ();
$prismjs-theme-core--token-deleted--language-tsx: ();
$prismjs-theme-core--token-deleted--language-tt2: ();
$prismjs-theme-core--token-deleted--language-twig: ();
$prismjs-theme-core--token-deleted--language-typescript: ();
$prismjs-theme-core--token-deleted--language-vbnet: ();
$prismjs-theme-core--token-deleted--language-velocity: ();
$prismjs-theme-core--token-deleted--language-verilog: ();
$prismjs-theme-core--token-deleted--language-vhdl: ();
$prismjs-theme-core--token-deleted--language-vim: ();
$prismjs-theme-core--token-deleted--language-visual-basic: ();
$prismjs-theme-core--token-deleted--language-wasm: ();
$prismjs-theme-core--token-deleted--language-wiki: ();
$prismjs-theme-core--token-deleted--language-xeora: ();
$prismjs-theme-core--token-deleted--language-xojo: ();
$prismjs-theme-core--token-deleted--language-xquery: ();
$prismjs-theme-core--token-deleted--language-yaml: ();
