$prismjs-theme-core--token-punctuation: (
	color: #999
);
$prismjs-theme-core--token-punctuation--style: ();
$prismjs-theme-core--token-punctuation--language-abap: ();
$prismjs-theme-core--token-punctuation--language-actionscript: ();
$prismjs-theme-core--token-punctuation--language-ada: ();
$prismjs-theme-core--token-punctuation--language-apacheconf: ();
$prismjs-theme-core--token-punctuation--language-apl: ();
$prismjs-theme-core--token-punctuation--language-applescript: ();
$prismjs-theme-core--token-punctuation--language-arduino: ();
$prismjs-theme-core--token-punctuation--language-arff: ();
$prismjs-theme-core--token-punctuation--language-asciidoc: ();
$prismjs-theme-core--token-punctuation--language-asm6502: ();
$prismjs-theme-core--token-punctuation--language-aspnet: ();
$prismjs-theme-core--token-punctuation--language-autohotkey: ();
$prismjs-theme-core--token-punctuation--language-autoit: ();
$prismjs-theme-core--token-punctuation--language-bash: ();
$prismjs-theme-core--token-punctuation--language-basic: ();
$prismjs-theme-core--token-punctuation--language-batch: ();
$prismjs-theme-core--token-punctuation--language-bison: ();
$prismjs-theme-core--token-punctuation--language-brainfuck: ();
$prismjs-theme-core--token-punctuation--language-bro: ();
$prismjs-theme-core--token-punctuation--language-c: ();
$prismjs-theme-core--token-punctuation--language-clike: ();
$prismjs-theme-core--token-punctuation--language-clojure: ();
$prismjs-theme-core--token-punctuation--language-coffeescript: ();
$prismjs-theme-core--token-punctuation--language-core: ();
$prismjs-theme-core--token-punctuation--language-cpp: ();
$prismjs-theme-core--token-punctuation--language-crystal: ();
$prismjs-theme-core--token-punctuation--language-csharp: ();
$prismjs-theme-core--token-punctuation--language-csp: ();
$prismjs-theme-core--token-punctuation--language-css: ();
$prismjs-theme-core--token-punctuation--language-d: ();
$prismjs-theme-core--token-punctuation--language-dart: ();
$prismjs-theme-core--token-punctuation--language-diff: ();
$prismjs-theme-core--token-punctuation--language-django: ();
$prismjs-theme-core--token-punctuation--language-docker: ();
$prismjs-theme-core--token-punctuation--language-eiffel: ();
$prismjs-theme-core--token-punctuation--language-elixir: ();
$prismjs-theme-core--token-punctuation--language-elm: ();
$prismjs-theme-core--token-punctuation--language-erb: ();
$prismjs-theme-core--token-punctuation--language-erlang: ();
$prismjs-theme-core--token-punctuation--language-flow: ();
$prismjs-theme-core--token-punctuation--language-fortran: ();
$prismjs-theme-core--token-punctuation--language-fsharp: ();
$prismjs-theme-core--token-punctuation--language-gedcom: ();
$prismjs-theme-core--token-punctuation--language-gherkin: ();
$prismjs-theme-core--token-punctuation--language-git: ();
$prismjs-theme-core--token-punctuation--language-glsl: ();
$prismjs-theme-core--token-punctuation--language-gml: ();
$prismjs-theme-core--token-punctuation--language-go: ();
$prismjs-theme-core--token-punctuation--language-graphql: ();
$prismjs-theme-core--token-punctuation--language-groovy: ();
$prismjs-theme-core--token-punctuation--language-haml: ();
$prismjs-theme-core--token-punctuation--language-handlebars: ();
$prismjs-theme-core--token-punctuation--language-haskell: ();
$prismjs-theme-core--token-punctuation--language-haxe: ();
$prismjs-theme-core--token-punctuation--language-hpkp: ();
$prismjs-theme-core--token-punctuation--language-hsts: ();
$prismjs-theme-core--token-punctuation--language-http: ();
$prismjs-theme-core--token-punctuation--language-ichigojam: ();
$prismjs-theme-core--token-punctuation--language-icon: ();
$prismjs-theme-core--token-punctuation--language-inform7: ();
$prismjs-theme-core--token-punctuation--language-ini: ();
$prismjs-theme-core--token-punctuation--language-io: ();
$prismjs-theme-core--token-punctuation--language-j: ();
$prismjs-theme-core--token-punctuation--language-java: ();
$prismjs-theme-core--token-punctuation--language-javascript: ();
$prismjs-theme-core--token-punctuation--language-jolie: ();
$prismjs-theme-core--token-punctuation--language-json: ();
$prismjs-theme-core--token-punctuation--language-jsx: ();
$prismjs-theme-core--token-punctuation--language-julia: ();
$prismjs-theme-core--token-punctuation--language-keyman: ();
$prismjs-theme-core--token-punctuation--language-kotlin: ();
$prismjs-theme-core--token-punctuation--language-latex: ();
$prismjs-theme-core--token-punctuation--language-less: ();
$prismjs-theme-core--token-punctuation--language-liquid: ();
$prismjs-theme-core--token-punctuation--language-lisp: ();
$prismjs-theme-core--token-punctuation--language-livescript: ();
$prismjs-theme-core--token-punctuation--language-lolcode: ();
$prismjs-theme-core--token-punctuation--language-lua: ();
$prismjs-theme-core--token-punctuation--language-makefile: ();
$prismjs-theme-core--token-punctuation--language-markdown: ();
$prismjs-theme-core--token-punctuation--language-markup: ();
$prismjs-theme-core--token-punctuation--language-markup-templating: ();
$prismjs-theme-core--token-punctuation--language-matlab: ();
$prismjs-theme-core--token-punctuation--language-mel: ();
$prismjs-theme-core--token-punctuation--language-mizar: ();
$prismjs-theme-core--token-punctuation--language-monkey: ();
$prismjs-theme-core--token-punctuation--language-n4js: ();
$prismjs-theme-core--token-punctuation--language-nasm: ();
$prismjs-theme-core--token-punctuation--language-nginx: ();
$prismjs-theme-core--token-punctuation--language-nim: ();
$prismjs-theme-core--token-punctuation--language-nix: ();
$prismjs-theme-core--token-punctuation--language-nsis: ();
$prismjs-theme-core--token-punctuation--language-objectivec: ();
$prismjs-theme-core--token-punctuation--language-ocaml: ();
$prismjs-theme-core--token-punctuation--language-opencl: ();
$prismjs-theme-core--token-punctuation--language-oz: ();
$prismjs-theme-core--token-punctuation--language-parigp: ();
$prismjs-theme-core--token-punctuation--language-parser: ();
$prismjs-theme-core--token-punctuation--language-pascal: ();
$prismjs-theme-core--token-punctuation--language-perl: ();
$prismjs-theme-core--token-punctuation--language-php: ();
$prismjs-theme-core--token-punctuation--language-plsql: ();
$prismjs-theme-core--token-punctuation--language-powershell: ();
$prismjs-theme-core--token-punctuation--language-processing: ();
$prismjs-theme-core--token-punctuation--language-prolog: ();
$prismjs-theme-core--token-punctuation--language-properties: ();
$prismjs-theme-core--token-punctuation--language-protobuf: ();
$prismjs-theme-core--token-punctuation--language-pug: ();
$prismjs-theme-core--token-punctuation--language-puppet: ();
$prismjs-theme-core--token-punctuation--language-pure: ();
$prismjs-theme-core--token-punctuation--language-python: ();
$prismjs-theme-core--token-punctuation--language-q: ();
$prismjs-theme-core--token-punctuation--language-qore: ();
$prismjs-theme-core--token-punctuation--language-r: ();
$prismjs-theme-core--token-punctuation--language-reason: ();
$prismjs-theme-core--token-punctuation--language-renpy: ();
$prismjs-theme-core--token-punctuation--language-rest: ();
$prismjs-theme-core--token-punctuation--language-rip: ();
$prismjs-theme-core--token-punctuation--language-roboconf: ();
$prismjs-theme-core--token-punctuation--language-ruby: ();
$prismjs-theme-core--token-punctuation--language-rust: ();
$prismjs-theme-core--token-punctuation--language-sas: ();
$prismjs-theme-core--token-punctuation--language-sass: ();
$prismjs-theme-core--token-punctuation--language-scala: ();
$prismjs-theme-core--token-punctuation--language-scheme: ();
$prismjs-theme-core--token-punctuation--language-scss: ();
$prismjs-theme-core--token-punctuation--language-smalltalk: ();
$prismjs-theme-core--token-punctuation--language-smarty: ();
$prismjs-theme-core--token-punctuation--language-soy: ();
$prismjs-theme-core--token-punctuation--language-sql: ();
$prismjs-theme-core--token-punctuation--language-stylus: ();
$prismjs-theme-core--token-punctuation--language-swift: ();
$prismjs-theme-core--token-punctuation--language-tap: ();
$prismjs-theme-core--token-punctuation--language-tcl: ();
$prismjs-theme-core--token-punctuation--language-textile: ();
$prismjs-theme-core--token-punctuation--language-tsx: ();
$prismjs-theme-core--token-punctuation--language-tt2: ();
$prismjs-theme-core--token-punctuation--language-twig: ();
$prismjs-theme-core--token-punctuation--language-typescript: ();
$prismjs-theme-core--token-punctuation--language-vbnet: ();
$prismjs-theme-core--token-punctuation--language-velocity: ();
$prismjs-theme-core--token-punctuation--language-verilog: ();
$prismjs-theme-core--token-punctuation--language-vhdl: ();
$prismjs-theme-core--token-punctuation--language-vim: ();
$prismjs-theme-core--token-punctuation--language-visual-basic: ();
$prismjs-theme-core--token-punctuation--language-wasm: ();
$prismjs-theme-core--token-punctuation--language-wiki: ();
$prismjs-theme-core--token-punctuation--language-xeora: ();
$prismjs-theme-core--token-punctuation--language-xojo: ();
$prismjs-theme-core--token-punctuation--language-xquery: ();
$prismjs-theme-core--token-punctuation--language-yaml: ();
