$prismjs-theme-core--token-entity: (
	color: #9a6e3a,
	background: false,
	font-weight: false,
	font-style: false,
	cursor: help
);

$prismjs-theme-core--token-entity--style: (
	color: false,
	background: false,
	font-weight: false,
	font-style: false
);

$prismjs-theme-core--token-entity--language-abap: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-actionscript: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-ada: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-apacheconf: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-apl: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-applescript: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-arduino: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-arff: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-asciidoc: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-asm6502: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-aspnet: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-autohotkey: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-autoit: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-bash: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-basic: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-batch: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-bison: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-brainfuck: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-bro: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-c: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-clike: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-clojure: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-coffeescript: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-core: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-cpp: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-crystal: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-csharp: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-csp: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-css: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-d: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-dart: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-diff: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-django: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-docker: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-eiffel: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-elixir: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-elm: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-erb: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-erlang: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-flow: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-fortran: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-fsharp: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-gedcom: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-gherkin: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-git: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-glsl: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-gml: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-go: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-graphql: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-groovy: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-haml: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-handlebars: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-haskell: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-haxe: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-hpkp: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-hsts: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-http: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-ichigojam: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-icon: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-inform7: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-ini: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-io: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-j: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-java: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-javascript: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-jolie: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-json: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-jsx: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-julia: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-keyman: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-kotlin: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-latex: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-less: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-liquid: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-lisp: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-livescript: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-lolcode: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-lua: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-makefile: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-markdown: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-markup: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-markup-templating: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-matlab: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-mel: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-mizar: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-monkey: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-n4js: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-nasm: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-nginx: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-nim: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-nix: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-nsis: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-objectivec: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-ocaml: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-opencl: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-oz: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-parigp: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-parser: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-pascal: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-perl: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-php: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-plsql: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-powershell: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-processing: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-entity: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-properties: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-protobuf: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-pug: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-puppet: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-pure: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-python: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-q: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-qore: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-r: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-reason: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-renpy: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-rest: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-rip: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-roboconf: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-ruby: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-rust: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-sas: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-sass: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-scala: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-scheme: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-scss: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-smalltalk: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-smarty: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-soy: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-sql: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-stylus: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-swift: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-tap: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-tcl: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-textile: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-tsx: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-tt2: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-twig: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-typescript: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-vbnet: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-velocity: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-verilog: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-vhdl: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-vim: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-visual-basic: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-wasm: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-wiki: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-xeora: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-xojo: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-xquery: $prismjs-theme-core--token-entity--style;
$prismjs-theme-core--token-entity--language-yaml: $prismjs-theme-core--token-entity--style;
