$prismjs-theme-core--token-id: ();
$prismjs-theme-core--token-id--style: ();
$prismjs-theme-core--token-id--language-abap: ();
$prismjs-theme-core--token-id--language-actionscript: ();
$prismjs-theme-core--token-id--language-ada: ();
$prismjs-theme-core--token-id--language-apacheconf: ();
$prismjs-theme-core--token-id--language-apl: ();
$prismjs-theme-core--token-id--language-applescript: ();
$prismjs-theme-core--token-id--language-arduino: ();
$prismjs-theme-core--token-id--language-arff: ();
$prismjs-theme-core--token-id--language-asciidoc: ();
$prismjs-theme-core--token-id--language-asm6502: ();
$prismjs-theme-core--token-id--language-aspnet: ();
$prismjs-theme-core--token-id--language-autohotkey: ();
$prismjs-theme-core--token-id--language-autoit: ();
$prismjs-theme-core--token-id--language-bash: ();
$prismjs-theme-core--token-id--language-basic: ();
$prismjs-theme-core--token-id--language-batch: ();
$prismjs-theme-core--token-id--language-bison: ();
$prismjs-theme-core--token-id--language-brainfuck: ();
$prismjs-theme-core--token-id--language-bro: ();
$prismjs-theme-core--token-id--language-c: ();
$prismjs-theme-core--token-id--language-clike: ();
$prismjs-theme-core--token-id--language-clojure: ();
$prismjs-theme-core--token-id--language-coffeescript: ();
$prismjs-theme-core--token-id--language-core: ();
$prismjs-theme-core--token-id--language-cpp: ();
$prismjs-theme-core--token-id--language-crystal: ();
$prismjs-theme-core--token-id--language-csharp: ();
$prismjs-theme-core--token-id--language-csp: ();
$prismjs-theme-core--token-id--language-css: (
	color: #f00
);
$prismjs-theme-core--token-id--language-d: ();
$prismjs-theme-core--token-id--language-dart: ();
$prismjs-theme-core--token-id--language-diff: ();
$prismjs-theme-core--token-id--language-django: ();
$prismjs-theme-core--token-id--language-docker: ();
$prismjs-theme-core--token-id--language-eiffel: ();
$prismjs-theme-core--token-id--language-elixir: ();
$prismjs-theme-core--token-id--language-elm: ();
$prismjs-theme-core--token-id--language-erb: ();
$prismjs-theme-core--token-id--language-erlang: ();
$prismjs-theme-core--token-id--language-flow: ();
$prismjs-theme-core--token-id--language-fortran: ();
$prismjs-theme-core--token-id--language-fsharp: ();
$prismjs-theme-core--token-id--language-gedcom: ();
$prismjs-theme-core--token-id--language-gherkin: ();
$prismjs-theme-core--token-id--language-git: ();
$prismjs-theme-core--token-id--language-glsl: ();
$prismjs-theme-core--token-id--language-gml: ();
$prismjs-theme-core--token-id--language-go: ();
$prismjs-theme-core--token-id--language-graphql: ();
$prismjs-theme-core--token-id--language-groovy: ();
$prismjs-theme-core--token-id--language-haml: ();
$prismjs-theme-core--token-id--language-handlebars: ();
$prismjs-theme-core--token-id--language-haskell: ();
$prismjs-theme-core--token-id--language-haxe: ();
$prismjs-theme-core--token-id--language-hpkp: ();
$prismjs-theme-core--token-id--language-hsts: ();
$prismjs-theme-core--token-id--language-http: ();
$prismjs-theme-core--token-id--language-ichigojam: ();
$prismjs-theme-core--token-id--language-icon: ();
$prismjs-theme-core--token-id--language-inform7: ();
$prismjs-theme-core--token-id--language-ini: ();
$prismjs-theme-core--token-id--language-io: ();
$prismjs-theme-core--token-id--language-j: ();
$prismjs-theme-core--token-id--language-java: ();
$prismjs-theme-core--token-id--language-javascript: ();
$prismjs-theme-core--token-id--language-jolie: ();
$prismjs-theme-core--token-id--language-json: ();
$prismjs-theme-core--token-id--language-jsx: ();
$prismjs-theme-core--token-id--language-julia: ();
$prismjs-theme-core--token-id--language-keyman: ();
$prismjs-theme-core--token-id--language-kotlin: ();
$prismjs-theme-core--token-id--language-latex: ();
$prismjs-theme-core--token-id--language-less: ();
$prismjs-theme-core--token-id--language-liquid: ();
$prismjs-theme-core--token-id--language-lisp: ();
$prismjs-theme-core--token-id--language-livescript: ();
$prismjs-theme-core--token-id--language-lolcode: ();
$prismjs-theme-core--token-id--language-lua: ();
$prismjs-theme-core--token-id--language-makefile: ();
$prismjs-theme-core--token-id--language-markdown: ();
$prismjs-theme-core--token-id--language-markup: ();
$prismjs-theme-core--token-id--language-markup-templating: ();
$prismjs-theme-core--token-id--language-matlab: ();
$prismjs-theme-core--token-id--language-mel: ();
$prismjs-theme-core--token-id--language-mizar: ();
$prismjs-theme-core--token-id--language-monkey: ();
$prismjs-theme-core--token-id--language-n4js: ();
$prismjs-theme-core--token-id--language-nasm: ();
$prismjs-theme-core--token-id--language-nginx: ();
$prismjs-theme-core--token-id--language-nim: ();
$prismjs-theme-core--token-id--language-nix: ();
$prismjs-theme-core--token-id--language-nsis: ();
$prismjs-theme-core--token-id--language-objectivec: ();
$prismjs-theme-core--token-id--language-ocaml: ();
$prismjs-theme-core--token-id--language-opencl: ();
$prismjs-theme-core--token-id--language-oz: ();
$prismjs-theme-core--token-id--language-parigp: ();
$prismjs-theme-core--token-id--language-parser: ();
$prismjs-theme-core--token-id--language-pascal: ();
$prismjs-theme-core--token-id--language-perl: ();
$prismjs-theme-core--token-id--language-php: ();
$prismjs-theme-core--token-id--language-plsql: ();
$prismjs-theme-core--token-id--language-powershell: ();
$prismjs-theme-core--token-id--language-processing: ();
$prismjs-theme-core--token-id--language-prolog: ();
$prismjs-theme-core--token-id--language-properties: ();
$prismjs-theme-core--token-id--language-protobuf: ();
$prismjs-theme-core--token-id--language-pug: ();
$prismjs-theme-core--token-id--language-puppet: ();
$prismjs-theme-core--token-id--language-pure: ();
$prismjs-theme-core--token-id--language-python: ();
$prismjs-theme-core--token-id--language-q: ();
$prismjs-theme-core--token-id--language-qore: ();
$prismjs-theme-core--token-id--language-r: ();
$prismjs-theme-core--token-id--language-reason: ();
$prismjs-theme-core--token-id--language-renpy: ();
$prismjs-theme-core--token-id--language-rest: ();
$prismjs-theme-core--token-id--language-rip: ();
$prismjs-theme-core--token-id--language-roboconf: ();
$prismjs-theme-core--token-id--language-ruby: ();
$prismjs-theme-core--token-id--language-rust: ();
$prismjs-theme-core--token-id--language-sas: ();
$prismjs-theme-core--token-id--language-sass: ();
$prismjs-theme-core--token-id--language-scala: ();
$prismjs-theme-core--token-id--language-scheme: ();
$prismjs-theme-core--token-id--language-scss: ();
$prismjs-theme-core--token-id--language-smalltalk: ();
$prismjs-theme-core--token-id--language-smarty: ();
$prismjs-theme-core--token-id--language-soy: ();
$prismjs-theme-core--token-id--language-sql: ();
$prismjs-theme-core--token-id--language-stylus: ();
$prismjs-theme-core--token-id--language-swift: ();
$prismjs-theme-core--token-id--language-tap: ();
$prismjs-theme-core--token-id--language-tcl: ();
$prismjs-theme-core--token-id--language-textile: ();
$prismjs-theme-core--token-id--language-tsx: ();
$prismjs-theme-core--token-id--language-tt2: ();
$prismjs-theme-core--token-id--language-twig: ();
$prismjs-theme-core--token-id--language-typescript: ();
$prismjs-theme-core--token-id--language-vbnet: ();
$prismjs-theme-core--token-id--language-velocity: ();
$prismjs-theme-core--token-id--language-verilog: ();
$prismjs-theme-core--token-id--language-vhdl: ();
$prismjs-theme-core--token-id--language-vim: ();
$prismjs-theme-core--token-id--language-visual-basic: ();
$prismjs-theme-core--token-id--language-wasm: ();
$prismjs-theme-core--token-id--language-wiki: ();
$prismjs-theme-core--token-id--language-xeora: ();
$prismjs-theme-core--token-id--language-xojo: ();
$prismjs-theme-core--token-id--language-xquery: ();
$prismjs-theme-core--token-id--language-yaml: ();
