$prismjs-theme-core--token-prolog: (
	color: slategray
);
$prismjs-theme-core--token-prolog--style: ();
$prismjs-theme-core--token-prolog--language-abap: ();
$prismjs-theme-core--token-prolog--language-actionscript: ();
$prismjs-theme-core--token-prolog--language-ada: ();
$prismjs-theme-core--token-prolog--language-apacheconf: ();
$prismjs-theme-core--token-prolog--language-apl: ();
$prismjs-theme-core--token-prolog--language-applescript: ();
$prismjs-theme-core--token-prolog--language-arduino: ();
$prismjs-theme-core--token-prolog--language-arff: ();
$prismjs-theme-core--token-prolog--language-asciidoc: ();
$prismjs-theme-core--token-prolog--language-asm6502: ();
$prismjs-theme-core--token-prolog--language-aspnet: ();
$prismjs-theme-core--token-prolog--language-autohotkey: ();
$prismjs-theme-core--token-prolog--language-autoit: ();
$prismjs-theme-core--token-prolog--language-bash: ();
$prismjs-theme-core--token-prolog--language-basic: ();
$prismjs-theme-core--token-prolog--language-batch: ();
$prismjs-theme-core--token-prolog--language-bison: ();
$prismjs-theme-core--token-prolog--language-brainfuck: ();
$prismjs-theme-core--token-prolog--language-bro: ();
$prismjs-theme-core--token-prolog--language-c: ();
$prismjs-theme-core--token-prolog--language-clike: ();
$prismjs-theme-core--token-prolog--language-clojure: ();
$prismjs-theme-core--token-prolog--language-coffeescript: ();
$prismjs-theme-core--token-prolog--language-core: ();
$prismjs-theme-core--token-prolog--language-cpp: ();
$prismjs-theme-core--token-prolog--language-crystal: ();
$prismjs-theme-core--token-prolog--language-csharp: ();
$prismjs-theme-core--token-prolog--language-csp: ();
$prismjs-theme-core--token-prolog--language-css: ();
$prismjs-theme-core--token-prolog--language-d: ();
$prismjs-theme-core--token-prolog--language-dart: ();
$prismjs-theme-core--token-prolog--language-diff: ();
$prismjs-theme-core--token-prolog--language-django: ();
$prismjs-theme-core--token-prolog--language-docker: ();
$prismjs-theme-core--token-prolog--language-eiffel: ();
$prismjs-theme-core--token-prolog--language-elixir: ();
$prismjs-theme-core--token-prolog--language-elm: ();
$prismjs-theme-core--token-prolog--language-erb: ();
$prismjs-theme-core--token-prolog--language-erlang: ();
$prismjs-theme-core--token-prolog--language-flow: ();
$prismjs-theme-core--token-prolog--language-fortran: ();
$prismjs-theme-core--token-prolog--language-fsharp: ();
$prismjs-theme-core--token-prolog--language-gedcom: ();
$prismjs-theme-core--token-prolog--language-gherkin: ();
$prismjs-theme-core--token-prolog--language-git: ();
$prismjs-theme-core--token-prolog--language-glsl: ();
$prismjs-theme-core--token-prolog--language-gml: ();
$prismjs-theme-core--token-prolog--language-go: ();
$prismjs-theme-core--token-prolog--language-graphql: ();
$prismjs-theme-core--token-prolog--language-groovy: ();
$prismjs-theme-core--token-prolog--language-haml: ();
$prismjs-theme-core--token-prolog--language-handlebars: ();
$prismjs-theme-core--token-prolog--language-haskell: ();
$prismjs-theme-core--token-prolog--language-haxe: ();
$prismjs-theme-core--token-prolog--language-hpkp: ();
$prismjs-theme-core--token-prolog--language-hsts: ();
$prismjs-theme-core--token-prolog--language-http: ();
$prismjs-theme-core--token-prolog--language-ichigojam: ();
$prismjs-theme-core--token-prolog--language-icon: ();
$prismjs-theme-core--token-prolog--language-inform7: ();
$prismjs-theme-core--token-prolog--language-ini: ();
$prismjs-theme-core--token-prolog--language-io: ();
$prismjs-theme-core--token-prolog--language-j: ();
$prismjs-theme-core--token-prolog--language-java: ();
$prismjs-theme-core--token-prolog--language-javascript: ();
$prismjs-theme-core--token-prolog--language-jolie: ();
$prismjs-theme-core--token-prolog--language-json: ();
$prismjs-theme-core--token-prolog--language-jsx: ();
$prismjs-theme-core--token-prolog--language-julia: ();
$prismjs-theme-core--token-prolog--language-keyman: ();
$prismjs-theme-core--token-prolog--language-kotlin: ();
$prismjs-theme-core--token-prolog--language-latex: ();
$prismjs-theme-core--token-prolog--language-less: ();
$prismjs-theme-core--token-prolog--language-liquid: ();
$prismjs-theme-core--token-prolog--language-lisp: ();
$prismjs-theme-core--token-prolog--language-livescript: ();
$prismjs-theme-core--token-prolog--language-lolcode: ();
$prismjs-theme-core--token-prolog--language-lua: ();
$prismjs-theme-core--token-prolog--language-makefile: ();
$prismjs-theme-core--token-prolog--language-markdown: ();
$prismjs-theme-core--token-prolog--language-markup: ();
$prismjs-theme-core--token-prolog--language-markup-templating: ();
$prismjs-theme-core--token-prolog--language-matlab: ();
$prismjs-theme-core--token-prolog--language-mel: ();
$prismjs-theme-core--token-prolog--language-mizar: ();
$prismjs-theme-core--token-prolog--language-monkey: ();
$prismjs-theme-core--token-prolog--language-n4js: ();
$prismjs-theme-core--token-prolog--language-nasm: ();
$prismjs-theme-core--token-prolog--language-nginx: ();
$prismjs-theme-core--token-prolog--language-nim: ();
$prismjs-theme-core--token-prolog--language-nix: ();
$prismjs-theme-core--token-prolog--language-nsis: ();
$prismjs-theme-core--token-prolog--language-objectivec: ();
$prismjs-theme-core--token-prolog--language-ocaml: ();
$prismjs-theme-core--token-prolog--language-opencl: ();
$prismjs-theme-core--token-prolog--language-oz: ();
$prismjs-theme-core--token-prolog--language-parigp: ();
$prismjs-theme-core--token-prolog--language-parser: ();
$prismjs-theme-core--token-prolog--language-pascal: ();
$prismjs-theme-core--token-prolog--language-perl: ();
$prismjs-theme-core--token-prolog--language-php: ();
$prismjs-theme-core--token-prolog--language-plsql: ();
$prismjs-theme-core--token-prolog--language-powershell: ();
$prismjs-theme-core--token-prolog--language-processing: ();
$prismjs-theme-core--token-prolog--language-prolog: ();
$prismjs-theme-core--token-prolog--language-properties: ();
$prismjs-theme-core--token-prolog--language-protobuf: ();
$prismjs-theme-core--token-prolog--language-pug: ();
$prismjs-theme-core--token-prolog--language-puppet: ();
$prismjs-theme-core--token-prolog--language-pure: ();
$prismjs-theme-core--token-prolog--language-python: ();
$prismjs-theme-core--token-prolog--language-q: ();
$prismjs-theme-core--token-prolog--language-qore: ();
$prismjs-theme-core--token-prolog--language-r: ();
$prismjs-theme-core--token-prolog--language-reason: ();
$prismjs-theme-core--token-prolog--language-renpy: ();
$prismjs-theme-core--token-prolog--language-rest: ();
$prismjs-theme-core--token-prolog--language-rip: ();
$prismjs-theme-core--token-prolog--language-roboconf: ();
$prismjs-theme-core--token-prolog--language-ruby: ();
$prismjs-theme-core--token-prolog--language-rust: ();
$prismjs-theme-core--token-prolog--language-sas: ();
$prismjs-theme-core--token-prolog--language-sass: ();
$prismjs-theme-core--token-prolog--language-scala: ();
$prismjs-theme-core--token-prolog--language-scheme: ();
$prismjs-theme-core--token-prolog--language-scss: ();
$prismjs-theme-core--token-prolog--language-smalltalk: ();
$prismjs-theme-core--token-prolog--language-smarty: ();
$prismjs-theme-core--token-prolog--language-soy: ();
$prismjs-theme-core--token-prolog--language-sql: ();
$prismjs-theme-core--token-prolog--language-stylus: ();
$prismjs-theme-core--token-prolog--language-swift: ();
$prismjs-theme-core--token-prolog--language-tap: ();
$prismjs-theme-core--token-prolog--language-tcl: ();
$prismjs-theme-core--token-prolog--language-textile: ();
$prismjs-theme-core--token-prolog--language-tsx: ();
$prismjs-theme-core--token-prolog--language-tt2: ();
$prismjs-theme-core--token-prolog--language-twig: ();
$prismjs-theme-core--token-prolog--language-typescript: ();
$prismjs-theme-core--token-prolog--language-vbnet: ();
$prismjs-theme-core--token-prolog--language-velocity: ();
$prismjs-theme-core--token-prolog--language-verilog: ();
$prismjs-theme-core--token-prolog--language-vhdl: ();
$prismjs-theme-core--token-prolog--language-vim: ();
$prismjs-theme-core--token-prolog--language-visual-basic: ();
$prismjs-theme-core--token-prolog--language-wasm: ();
$prismjs-theme-core--token-prolog--language-wiki: ();
$prismjs-theme-core--token-prolog--language-xeora: ();
$prismjs-theme-core--token-prolog--language-xojo: ();
$prismjs-theme-core--token-prolog--language-xquery: ();
$prismjs-theme-core--token-prolog--language-yaml: ();
