$prismjs-theme-core--token-builtin: (
	color: #690
);
$prismjs-theme-core--token-builtin--style: ();
$prismjs-theme-core--token-builtin--language-abap: ();
$prismjs-theme-core--token-builtin--language-actionscript: ();
$prismjs-theme-core--token-builtin--language-ada: ();
$prismjs-theme-core--token-builtin--language-apacheconf: ();
$prismjs-theme-core--token-builtin--language-apl: ();
$prismjs-theme-core--token-builtin--language-applescript: ();
$prismjs-theme-core--token-builtin--language-arduino: ();
$prismjs-theme-core--token-builtin--language-arff: ();
$prismjs-theme-core--token-builtin--language-asciidoc: ();
$prismjs-theme-core--token-builtin--language-asm6502: ();
$prismjs-theme-core--token-builtin--language-aspnet: ();
$prismjs-theme-core--token-builtin--language-autohotkey: ();
$prismjs-theme-core--token-builtin--language-autoit: ();
$prismjs-theme-core--token-builtin--language-bash: ();
$prismjs-theme-core--token-builtin--language-basic: ();
$prismjs-theme-core--token-builtin--language-batch: ();
$prismjs-theme-core--token-builtin--language-bison: ();
$prismjs-theme-core--token-builtin--language-brainfuck: ();
$prismjs-theme-core--token-builtin--language-bro: ();
$prismjs-theme-core--token-builtin--language-c: ();
$prismjs-theme-core--token-builtin--language-clike: ();
$prismjs-theme-core--token-builtin--language-clojure: ();
$prismjs-theme-core--token-builtin--language-coffeescript: ();
$prismjs-theme-core--token-builtin--language-core: ();
$prismjs-theme-core--token-builtin--language-cpp: ();
$prismjs-theme-core--token-builtin--language-crystal: ();
$prismjs-theme-core--token-builtin--language-csharp: ();
$prismjs-theme-core--token-builtin--language-csp: ();
$prismjs-theme-core--token-builtin--language-css: ();
$prismjs-theme-core--token-builtin--language-d: ();
$prismjs-theme-core--token-builtin--language-dart: ();
$prismjs-theme-core--token-builtin--language-diff: ();
$prismjs-theme-core--token-builtin--language-django: ();
$prismjs-theme-core--token-builtin--language-docker: ();
$prismjs-theme-core--token-builtin--language-eiffel: ();
$prismjs-theme-core--token-builtin--language-elixir: ();
$prismjs-theme-core--token-builtin--language-elm: ();
$prismjs-theme-core--token-builtin--language-erb: ();
$prismjs-theme-core--token-builtin--language-erlang: ();
$prismjs-theme-core--token-builtin--language-flow: ();
$prismjs-theme-core--token-builtin--language-fortran: ();
$prismjs-theme-core--token-builtin--language-fsharp: ();
$prismjs-theme-core--token-builtin--language-gedcom: ();
$prismjs-theme-core--token-builtin--language-gherkin: ();
$prismjs-theme-core--token-builtin--language-git: ();
$prismjs-theme-core--token-builtin--language-glsl: ();
$prismjs-theme-core--token-builtin--language-gml: ();
$prismjs-theme-core--token-builtin--language-go: ();
$prismjs-theme-core--token-builtin--language-graphql: ();
$prismjs-theme-core--token-builtin--language-groovy: ();
$prismjs-theme-core--token-builtin--language-haml: ();
$prismjs-theme-core--token-builtin--language-handlebars: ();
$prismjs-theme-core--token-builtin--language-haskell: ();
$prismjs-theme-core--token-builtin--language-haxe: ();
$prismjs-theme-core--token-builtin--language-hpkp: ();
$prismjs-theme-core--token-builtin--language-hsts: ();
$prismjs-theme-core--token-builtin--language-http: ();
$prismjs-theme-core--token-builtin--language-ichigojam: ();
$prismjs-theme-core--token-builtin--language-icon: ();
$prismjs-theme-core--token-builtin--language-inform7: ();
$prismjs-theme-core--token-builtin--language-ini: ();
$prismjs-theme-core--token-builtin--language-io: ();
$prismjs-theme-core--token-builtin--language-j: ();
$prismjs-theme-core--token-builtin--language-java: ();
$prismjs-theme-core--token-builtin--language-javascript: ();
$prismjs-theme-core--token-builtin--language-jolie: ();
$prismjs-theme-core--token-builtin--language-json: ();
$prismjs-theme-core--token-builtin--language-jsx: ();
$prismjs-theme-core--token-builtin--language-julia: ();
$prismjs-theme-core--token-builtin--language-keyman: ();
$prismjs-theme-core--token-builtin--language-kotlin: ();
$prismjs-theme-core--token-builtin--language-latex: ();
$prismjs-theme-core--token-builtin--language-less: ();
$prismjs-theme-core--token-builtin--language-liquid: ();
$prismjs-theme-core--token-builtin--language-lisp: ();
$prismjs-theme-core--token-builtin--language-livescript: ();
$prismjs-theme-core--token-builtin--language-lolcode: ();
$prismjs-theme-core--token-builtin--language-lua: ();
$prismjs-theme-core--token-builtin--language-makefile: ();
$prismjs-theme-core--token-builtin--language-markdown: ();
$prismjs-theme-core--token-builtin--language-markup: ();
$prismjs-theme-core--token-builtin--language-markup-templating: ();
$prismjs-theme-core--token-builtin--language-matlab: ();
$prismjs-theme-core--token-builtin--language-mel: ();
$prismjs-theme-core--token-builtin--language-mizar: ();
$prismjs-theme-core--token-builtin--language-monkey: ();
$prismjs-theme-core--token-builtin--language-n4js: ();
$prismjs-theme-core--token-builtin--language-nasm: ();
$prismjs-theme-core--token-builtin--language-nginx: ();
$prismjs-theme-core--token-builtin--language-nim: ();
$prismjs-theme-core--token-builtin--language-nix: ();
$prismjs-theme-core--token-builtin--language-nsis: ();
$prismjs-theme-core--token-builtin--language-objectivec: ();
$prismjs-theme-core--token-builtin--language-ocaml: ();
$prismjs-theme-core--token-builtin--language-opencl: ();
$prismjs-theme-core--token-builtin--language-oz: ();
$prismjs-theme-core--token-builtin--language-parigp: ();
$prismjs-theme-core--token-builtin--language-parser: ();
$prismjs-theme-core--token-builtin--language-pascal: ();
$prismjs-theme-core--token-builtin--language-perl: ();
$prismjs-theme-core--token-builtin--language-php: ();
$prismjs-theme-core--token-builtin--language-plsql: ();
$prismjs-theme-core--token-builtin--language-powershell: ();
$prismjs-theme-core--token-builtin--language-processing: ();
$prismjs-theme-core--token-builtin--language-prolog: ();
$prismjs-theme-core--token-builtin--language-properties: ();
$prismjs-theme-core--token-builtin--language-protobuf: ();
$prismjs-theme-core--token-builtin--language-pug: ();
$prismjs-theme-core--token-builtin--language-puppet: ();
$prismjs-theme-core--token-builtin--language-pure: ();
$prismjs-theme-core--token-builtin--language-python: ();
$prismjs-theme-core--token-builtin--language-q: ();
$prismjs-theme-core--token-builtin--language-qore: ();
$prismjs-theme-core--token-builtin--language-r: ();
$prismjs-theme-core--token-builtin--language-reason: ();
$prismjs-theme-core--token-builtin--language-renpy: ();
$prismjs-theme-core--token-builtin--language-rest: ();
$prismjs-theme-core--token-builtin--language-rip: ();
$prismjs-theme-core--token-builtin--language-roboconf: ();
$prismjs-theme-core--token-builtin--language-ruby: ();
$prismjs-theme-core--token-builtin--language-rust: ();
$prismjs-theme-core--token-builtin--language-sas: ();
$prismjs-theme-core--token-builtin--language-sass: ();
$prismjs-theme-core--token-builtin--language-scala: ();
$prismjs-theme-core--token-builtin--language-scheme: ();
$prismjs-theme-core--token-builtin--language-scss: ();
$prismjs-theme-core--token-builtin--language-smalltalk: ();
$prismjs-theme-core--token-builtin--language-smarty: ();
$prismjs-theme-core--token-builtin--language-soy: ();
$prismjs-theme-core--token-builtin--language-sql: ();
$prismjs-theme-core--token-builtin--language-stylus: ();
$prismjs-theme-core--token-builtin--language-swift: ();
$prismjs-theme-core--token-builtin--language-tap: ();
$prismjs-theme-core--token-builtin--language-tcl: ();
$prismjs-theme-core--token-builtin--language-textile: ();
$prismjs-theme-core--token-builtin--language-tsx: ();
$prismjs-theme-core--token-builtin--language-tt2: ();
$prismjs-theme-core--token-builtin--language-twig: ();
$prismjs-theme-core--token-builtin--language-typescript: ();
$prismjs-theme-core--token-builtin--language-vbnet: ();
$prismjs-theme-core--token-builtin--language-velocity: ();
$prismjs-theme-core--token-builtin--language-verilog: ();
$prismjs-theme-core--token-builtin--language-vhdl: ();
$prismjs-theme-core--token-builtin--language-vim: ();
$prismjs-theme-core--token-builtin--language-visual-basic: ();
$prismjs-theme-core--token-builtin--language-wasm: ();
$prismjs-theme-core--token-builtin--language-wiki: ();
$prismjs-theme-core--token-builtin--language-xeora: ();
$prismjs-theme-core--token-builtin--language-xojo: ();
$prismjs-theme-core--token-builtin--language-xquery: ();
$prismjs-theme-core--token-builtin--language-yaml: ();
