$prismjs-theme-core--token-comment: (
	color: slategray,
	background: false,
	font-weight: false,
	font-style: false,
);

$prismjs-theme-core--token-comment--style: (
	color: false,
	background: false,
	font-weight: false,
	font-style: false
);

$prismjs-theme-core--token-comment--language-abap: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-actionscript: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-ada: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-apacheconf: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-apl: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-applescript: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-arduino: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-arff: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-asciidoc: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-asm6502: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-aspnet: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-autohotkey: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-autoit: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-bash: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-basic: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-batch: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-bison: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-brainfuck: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-bro: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-c: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-clike: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-clojure: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-coffeescript: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-core: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-cpp: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-crystal: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-csharp: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-csp: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-css: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-d: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-dart: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-diff: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-django: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-docker: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-eiffel: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-elixir: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-elm: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-erb: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-erlang: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-flow: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-fortran: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-fsharp: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-gedcom: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-gherkin: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-git: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-glsl: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-gml: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-go: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-graphql: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-groovy: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-haml: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-handlebars: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-haskell: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-haxe: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-hpkp: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-hsts: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-http: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-ichigojam: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-icon: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-inform7: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-ini: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-io: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-j: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-java: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-javascript: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-jolie: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-json: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-jsx: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-julia: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-keyman: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-kotlin: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-latex: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-less: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-liquid: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-lisp: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-livescript: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-lolcode: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-lua: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-makefile: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-markdown: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-markup: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-markup-templating: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-matlab: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-mel: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-mizar: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-monkey: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-n4js: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-nasm: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-nginx: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-nim: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-nix: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-nsis: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-objectivec: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-ocaml: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-opencl: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-oz: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-parigp: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-parser: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-pascal: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-perl: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-php: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-plsql: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-powershell: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-processing: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-prolog: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-properties: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-protobuf: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-pug: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-puppet: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-pure: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-python: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-q: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-qore: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-r: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-reason: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-renpy: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-rest: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-rip: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-roboconf: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-ruby: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-rust: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-sas: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-sass: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-scala: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-scheme: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-scss: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-smalltalk: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-smarty: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-soy: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-sql: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-stylus: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-swift: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-tap: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-tcl: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-textile: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-tsx: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-tt2: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-twig: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-typescript: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-vbnet: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-velocity: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-verilog: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-vhdl: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-vim: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-visual-basic: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-wasm: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-wiki: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-xeora: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-xojo: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-xquery: $prismjs-theme-core--token-comment--style;
$prismjs-theme-core--token-comment--language-yaml: $prismjs-theme-core--token-comment--style;
