$prismjs-theme-core--token-variable: (
	color: #e90,
	background: false,
	font-weight: false,
	font-style: false
);

$prismjs-theme-core--token-variable--style: (
	color: false,
	background: false,
	font-weight: false,
	font-style: false
);

$prismjs-theme-core--token-variable--language-abap: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-actionscript: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-ada: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-apacheconf: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-apl: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-applescript: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-arduino: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-arff: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-asciidoc: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-asm6502: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-aspnet: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-autohotkey: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-autoit: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-bash: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-basic: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-batch: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-bison: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-brainfuck: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-bro: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-c: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-clike: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-clojure: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-coffeescript: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-core: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-cpp: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-crystal: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-csharp: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-csp: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-css: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-d: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-dart: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-diff: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-django: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-docker: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-eiffel: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-elixir: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-elm: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-erb: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-erlang: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-flow: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-fortran: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-fsharp: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-gedcom: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-gherkin: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-git: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-glsl: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-gml: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-go: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-graphql: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-groovy: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-haml: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-handlebars: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-haskell: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-haxe: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-hpkp: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-hsts: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-http: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-ichigojam: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-icon: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-inform7: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-ini: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-io: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-j: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-java: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-javascript: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-jolie: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-json: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-jsx: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-julia: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-keyman: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-kotlin: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-latex: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-less: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-liquid: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-lisp: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-livescript: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-lolcode: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-lua: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-makefile: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-markdown: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-markup: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-markup-templating: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-matlab: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-mel: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-mizar: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-monkey: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-n4js: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-nasm: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-nginx: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-nim: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-nix: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-nsis: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-objectivec: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-ocaml: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-opencl: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-oz: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-parigp: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-parser: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-pascal: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-perl: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-php: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-plsql: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-powershell: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-processing: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-variable: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-properties: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-protobuf: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-pug: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-puppet: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-pure: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-python: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-q: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-qore: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-r: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-reason: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-renpy: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-rest: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-rip: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-roboconf: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-ruby: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-rust: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-sas: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-sass: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-scala: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-scheme: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-scss: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-smalltalk: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-smarty: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-soy: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-sql: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-stylus: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-swift: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-tap: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-tcl: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-textile: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-tsx: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-tt2: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-twig: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-typescript: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-vbnet: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-velocity: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-verilog: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-vhdl: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-vim: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-visual-basic: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-wasm: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-wiki: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-xeora: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-xojo: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-xquery: $prismjs-theme-core--token-variable--style;
$prismjs-theme-core--token-variable--language-yaml: $prismjs-theme-core--token-variable--style;
