$prismjs-theme-core--token-inserted: (
	color: #690
);
$prismjs-theme-core--token-inserted--style: ();
$prismjs-theme-core--token-inserted--language-abap: ();
$prismjs-theme-core--token-inserted--language-actionscript: ();
$prismjs-theme-core--token-inserted--language-ada: ();
$prismjs-theme-core--token-inserted--language-apacheconf: ();
$prismjs-theme-core--token-inserted--language-apl: ();
$prismjs-theme-core--token-inserted--language-applescript: ();
$prismjs-theme-core--token-inserted--language-arduino: ();
$prismjs-theme-core--token-inserted--language-arff: ();
$prismjs-theme-core--token-inserted--language-asciidoc: ();
$prismjs-theme-core--token-inserted--language-asm6502: ();
$prismjs-theme-core--token-inserted--language-aspnet: ();
$prismjs-theme-core--token-inserted--language-autohotkey: ();
$prismjs-theme-core--token-inserted--language-autoit: ();
$prismjs-theme-core--token-inserted--language-bash: ();
$prismjs-theme-core--token-inserted--language-basic: ();
$prismjs-theme-core--token-inserted--language-batch: ();
$prismjs-theme-core--token-inserted--language-bison: ();
$prismjs-theme-core--token-inserted--language-brainfuck: ();
$prismjs-theme-core--token-inserted--language-bro: ();
$prismjs-theme-core--token-inserted--language-c: ();
$prismjs-theme-core--token-inserted--language-clike: ();
$prismjs-theme-core--token-inserted--language-clojure: ();
$prismjs-theme-core--token-inserted--language-coffeescript: ();
$prismjs-theme-core--token-inserted--language-core: ();
$prismjs-theme-core--token-inserted--language-cpp: ();
$prismjs-theme-core--token-inserted--language-crystal: ();
$prismjs-theme-core--token-inserted--language-csharp: ();
$prismjs-theme-core--token-inserted--language-csp: ();
$prismjs-theme-core--token-inserted--language-css: ();
$prismjs-theme-core--token-inserted--language-d: ();
$prismjs-theme-core--token-inserted--language-dart: ();
$prismjs-theme-core--token-inserted--language-diff: ();
$prismjs-theme-core--token-inserted--language-django: ();
$prismjs-theme-core--token-inserted--language-docker: ();
$prismjs-theme-core--token-inserted--language-eiffel: ();
$prismjs-theme-core--token-inserted--language-elixir: ();
$prismjs-theme-core--token-inserted--language-elm: ();
$prismjs-theme-core--token-inserted--language-erb: ();
$prismjs-theme-core--token-inserted--language-erlang: ();
$prismjs-theme-core--token-inserted--language-flow: ();
$prismjs-theme-core--token-inserted--language-fortran: ();
$prismjs-theme-core--token-inserted--language-fsharp: ();
$prismjs-theme-core--token-inserted--language-gedcom: ();
$prismjs-theme-core--token-inserted--language-gherkin: ();
$prismjs-theme-core--token-inserted--language-git: ();
$prismjs-theme-core--token-inserted--language-glsl: ();
$prismjs-theme-core--token-inserted--language-gml: ();
$prismjs-theme-core--token-inserted--language-go: ();
$prismjs-theme-core--token-inserted--language-graphql: ();
$prismjs-theme-core--token-inserted--language-groovy: ();
$prismjs-theme-core--token-inserted--language-haml: ();
$prismjs-theme-core--token-inserted--language-handlebars: ();
$prismjs-theme-core--token-inserted--language-haskell: ();
$prismjs-theme-core--token-inserted--language-haxe: ();
$prismjs-theme-core--token-inserted--language-hpkp: ();
$prismjs-theme-core--token-inserted--language-hsts: ();
$prismjs-theme-core--token-inserted--language-http: ();
$prismjs-theme-core--token-inserted--language-ichigojam: ();
$prismjs-theme-core--token-inserted--language-icon: ();
$prismjs-theme-core--token-inserted--language-inform7: ();
$prismjs-theme-core--token-inserted--language-ini: ();
$prismjs-theme-core--token-inserted--language-io: ();
$prismjs-theme-core--token-inserted--language-j: ();
$prismjs-theme-core--token-inserted--language-java: ();
$prismjs-theme-core--token-inserted--language-javascript: ();
$prismjs-theme-core--token-inserted--language-jolie: ();
$prismjs-theme-core--token-inserted--language-json: ();
$prismjs-theme-core--token-inserted--language-jsx: ();
$prismjs-theme-core--token-inserted--language-julia: ();
$prismjs-theme-core--token-inserted--language-keyman: ();
$prismjs-theme-core--token-inserted--language-kotlin: ();
$prismjs-theme-core--token-inserted--language-latex: ();
$prismjs-theme-core--token-inserted--language-less: ();
$prismjs-theme-core--token-inserted--language-liquid: ();
$prismjs-theme-core--token-inserted--language-lisp: ();
$prismjs-theme-core--token-inserted--language-livescript: ();
$prismjs-theme-core--token-inserted--language-lolcode: ();
$prismjs-theme-core--token-inserted--language-lua: ();
$prismjs-theme-core--token-inserted--language-makefile: ();
$prismjs-theme-core--token-inserted--language-markdown: ();
$prismjs-theme-core--token-inserted--language-markup: ();
$prismjs-theme-core--token-inserted--language-markup-templating: ();
$prismjs-theme-core--token-inserted--language-matlab: ();
$prismjs-theme-core--token-inserted--language-mel: ();
$prismjs-theme-core--token-inserted--language-mizar: ();
$prismjs-theme-core--token-inserted--language-monkey: ();
$prismjs-theme-core--token-inserted--language-n4js: ();
$prismjs-theme-core--token-inserted--language-nasm: ();
$prismjs-theme-core--token-inserted--language-nginx: ();
$prismjs-theme-core--token-inserted--language-nim: ();
$prismjs-theme-core--token-inserted--language-nix: ();
$prismjs-theme-core--token-inserted--language-nsis: ();
$prismjs-theme-core--token-inserted--language-objectivec: ();
$prismjs-theme-core--token-inserted--language-ocaml: ();
$prismjs-theme-core--token-inserted--language-opencl: ();
$prismjs-theme-core--token-inserted--language-oz: ();
$prismjs-theme-core--token-inserted--language-parigp: ();
$prismjs-theme-core--token-inserted--language-parser: ();
$prismjs-theme-core--token-inserted--language-pascal: ();
$prismjs-theme-core--token-inserted--language-perl: ();
$prismjs-theme-core--token-inserted--language-php: ();
$prismjs-theme-core--token-inserted--language-plsql: ();
$prismjs-theme-core--token-inserted--language-powershell: ();
$prismjs-theme-core--token-inserted--language-processing: ();
$prismjs-theme-core--token-inserted--language-prolog: ();
$prismjs-theme-core--token-inserted--language-properties: ();
$prismjs-theme-core--token-inserted--language-protobuf: ();
$prismjs-theme-core--token-inserted--language-pug: ();
$prismjs-theme-core--token-inserted--language-puppet: ();
$prismjs-theme-core--token-inserted--language-pure: ();
$prismjs-theme-core--token-inserted--language-python: ();
$prismjs-theme-core--token-inserted--language-q: ();
$prismjs-theme-core--token-inserted--language-qore: ();
$prismjs-theme-core--token-inserted--language-r: ();
$prismjs-theme-core--token-inserted--language-reason: ();
$prismjs-theme-core--token-inserted--language-renpy: ();
$prismjs-theme-core--token-inserted--language-rest: ();
$prismjs-theme-core--token-inserted--language-rip: ();
$prismjs-theme-core--token-inserted--language-roboconf: ();
$prismjs-theme-core--token-inserted--language-ruby: ();
$prismjs-theme-core--token-inserted--language-rust: ();
$prismjs-theme-core--token-inserted--language-sas: ();
$prismjs-theme-core--token-inserted--language-sass: ();
$prismjs-theme-core--token-inserted--language-scala: ();
$prismjs-theme-core--token-inserted--language-scheme: ();
$prismjs-theme-core--token-inserted--language-scss: ();
$prismjs-theme-core--token-inserted--language-smalltalk: ();
$prismjs-theme-core--token-inserted--language-smarty: ();
$prismjs-theme-core--token-inserted--language-soy: ();
$prismjs-theme-core--token-inserted--language-sql: ();
$prismjs-theme-core--token-inserted--language-stylus: ();
$prismjs-theme-core--token-inserted--language-swift: ();
$prismjs-theme-core--token-inserted--language-tap: ();
$prismjs-theme-core--token-inserted--language-tcl: ();
$prismjs-theme-core--token-inserted--language-textile: ();
$prismjs-theme-core--token-inserted--language-tsx: ();
$prismjs-theme-core--token-inserted--language-tt2: ();
$prismjs-theme-core--token-inserted--language-twig: ();
$prismjs-theme-core--token-inserted--language-typescript: ();
$prismjs-theme-core--token-inserted--language-vbnet: ();
$prismjs-theme-core--token-inserted--language-velocity: ();
$prismjs-theme-core--token-inserted--language-verilog: ();
$prismjs-theme-core--token-inserted--language-vhdl: ();
$prismjs-theme-core--token-inserted--language-vim: ();
$prismjs-theme-core--token-inserted--language-visual-basic: ();
$prismjs-theme-core--token-inserted--language-wasm: ();
$prismjs-theme-core--token-inserted--language-wiki: ();
$prismjs-theme-core--token-inserted--language-xeora: ();
$prismjs-theme-core--token-inserted--language-xojo: ();
$prismjs-theme-core--token-inserted--language-xquery: ();
$prismjs-theme-core--token-inserted--language-yaml: ();
