$prismjs-theme-core--token-tag: (
	color: #ff6666
);
$prismjs-theme-core--token-tag--style: ();
$prismjs-theme-core--token-tag--language-abap: ();
$prismjs-theme-core--token-tag--language-actionscript: ();
$prismjs-theme-core--token-tag--language-ada: ();
$prismjs-theme-core--token-tag--language-apacheconf: ();
$prismjs-theme-core--token-tag--language-apl: ();
$prismjs-theme-core--token-tag--language-applescript: ();
$prismjs-theme-core--token-tag--language-arduino: ();
$prismjs-theme-core--token-tag--language-arff: ();
$prismjs-theme-core--token-tag--language-asciidoc: ();
$prismjs-theme-core--token-tag--language-asm6502: ();
$prismjs-theme-core--token-tag--language-aspnet: ();
$prismjs-theme-core--token-tag--language-autohotkey: ();
$prismjs-theme-core--token-tag--language-autoit: ();
$prismjs-theme-core--token-tag--language-bash: ();
$prismjs-theme-core--token-tag--language-basic: ();
$prismjs-theme-core--token-tag--language-batch: ();
$prismjs-theme-core--token-tag--language-bison: ();
$prismjs-theme-core--token-tag--language-brainfuck: ();
$prismjs-theme-core--token-tag--language-bro: ();
$prismjs-theme-core--token-tag--language-c: ();
$prismjs-theme-core--token-tag--language-clike: ();
$prismjs-theme-core--token-tag--language-clojure: ();
$prismjs-theme-core--token-tag--language-coffeescript: ();
$prismjs-theme-core--token-tag--language-core: ();
$prismjs-theme-core--token-tag--language-cpp: ();
$prismjs-theme-core--token-tag--language-crystal: ();
$prismjs-theme-core--token-tag--language-csharp: ();
$prismjs-theme-core--token-tag--language-csp: ();
$prismjs-theme-core--token-tag--language-css: ();
$prismjs-theme-core--token-tag--language-d: ();
$prismjs-theme-core--token-tag--language-dart: ();
$prismjs-theme-core--token-tag--language-diff: ();
$prismjs-theme-core--token-tag--language-django: ();
$prismjs-theme-core--token-tag--language-docker: ();
$prismjs-theme-core--token-tag--language-eiffel: ();
$prismjs-theme-core--token-tag--language-elixir: ();
$prismjs-theme-core--token-tag--language-elm: ();
$prismjs-theme-core--token-tag--language-erb: ();
$prismjs-theme-core--token-tag--language-erlang: ();
$prismjs-theme-core--token-tag--language-flow: ();
$prismjs-theme-core--token-tag--language-fortran: ();
$prismjs-theme-core--token-tag--language-fsharp: ();
$prismjs-theme-core--token-tag--language-gedcom: ();
$prismjs-theme-core--token-tag--language-gherkin: ();
$prismjs-theme-core--token-tag--language-git: ();
$prismjs-theme-core--token-tag--language-glsl: ();
$prismjs-theme-core--token-tag--language-gml: ();
$prismjs-theme-core--token-tag--language-go: ();
$prismjs-theme-core--token-tag--language-graphql: ();
$prismjs-theme-core--token-tag--language-groovy: ();
$prismjs-theme-core--token-tag--language-haml: ();
$prismjs-theme-core--token-tag--language-handlebars: ();
$prismjs-theme-core--token-tag--language-haskell: ();
$prismjs-theme-core--token-tag--language-haxe: ();
$prismjs-theme-core--token-tag--language-hpkp: ();
$prismjs-theme-core--token-tag--language-hsts: ();
$prismjs-theme-core--token-tag--language-http: ();
$prismjs-theme-core--token-tag--language-ichigojam: ();
$prismjs-theme-core--token-tag--language-icon: ();
$prismjs-theme-core--token-tag--language-inform7: ();
$prismjs-theme-core--token-tag--language-ini: ();
$prismjs-theme-core--token-tag--language-io: ();
$prismjs-theme-core--token-tag--language-j: ();
$prismjs-theme-core--token-tag--language-java: ();
$prismjs-theme-core--token-tag--language-javascript: ();
$prismjs-theme-core--token-tag--language-jolie: ();
$prismjs-theme-core--token-tag--language-json: ();
$prismjs-theme-core--token-tag--language-jsx: ();
$prismjs-theme-core--token-tag--language-julia: ();
$prismjs-theme-core--token-tag--language-keyman: ();
$prismjs-theme-core--token-tag--language-kotlin: ();
$prismjs-theme-core--token-tag--language-latex: ();
$prismjs-theme-core--token-tag--language-less: ();
$prismjs-theme-core--token-tag--language-liquid: ();
$prismjs-theme-core--token-tag--language-lisp: ();
$prismjs-theme-core--token-tag--language-livescript: ();
$prismjs-theme-core--token-tag--language-lolcode: ();
$prismjs-theme-core--token-tag--language-lua: ();
$prismjs-theme-core--token-tag--language-makefile: ();
$prismjs-theme-core--token-tag--language-markdown: ();
$prismjs-theme-core--token-tag--language-markup: ();
$prismjs-theme-core--token-tag--language-markup-templating: ();
$prismjs-theme-core--token-tag--language-matlab: ();
$prismjs-theme-core--token-tag--language-mel: ();
$prismjs-theme-core--token-tag--language-mizar: ();
$prismjs-theme-core--token-tag--language-monkey: ();
$prismjs-theme-core--token-tag--language-n4js: ();
$prismjs-theme-core--token-tag--language-nasm: ();
$prismjs-theme-core--token-tag--language-nginx: ();
$prismjs-theme-core--token-tag--language-nim: ();
$prismjs-theme-core--token-tag--language-nix: ();
$prismjs-theme-core--token-tag--language-nsis: ();
$prismjs-theme-core--token-tag--language-objectivec: ();
$prismjs-theme-core--token-tag--language-ocaml: ();
$prismjs-theme-core--token-tag--language-opencl: ();
$prismjs-theme-core--token-tag--language-oz: ();
$prismjs-theme-core--token-tag--language-parigp: ();
$prismjs-theme-core--token-tag--language-parser: ();
$prismjs-theme-core--token-tag--language-pascal: ();
$prismjs-theme-core--token-tag--language-perl: ();
$prismjs-theme-core--token-tag--language-php: ();
$prismjs-theme-core--token-tag--language-plsql: ();
$prismjs-theme-core--token-tag--language-powershell: ();
$prismjs-theme-core--token-tag--language-processing: ();
$prismjs-theme-core--token-tag--language-prolog: ();
$prismjs-theme-core--token-tag--language-properties: ();
$prismjs-theme-core--token-tag--language-protobuf: ();
$prismjs-theme-core--token-tag--language-pug: ();
$prismjs-theme-core--token-tag--language-puppet: ();
$prismjs-theme-core--token-tag--language-pure: ();
$prismjs-theme-core--token-tag--language-python: ();
$prismjs-theme-core--token-tag--language-q: ();
$prismjs-theme-core--token-tag--language-qore: ();
$prismjs-theme-core--token-tag--language-r: ();
$prismjs-theme-core--token-tag--language-reason: ();
$prismjs-theme-core--token-tag--language-renpy: ();
$prismjs-theme-core--token-tag--language-rest: ();
$prismjs-theme-core--token-tag--language-rip: ();
$prismjs-theme-core--token-tag--language-roboconf: ();
$prismjs-theme-core--token-tag--language-ruby: ();
$prismjs-theme-core--token-tag--language-rust: ();
$prismjs-theme-core--token-tag--language-sas: ();
$prismjs-theme-core--token-tag--language-sass: ();
$prismjs-theme-core--token-tag--language-scala: ();
$prismjs-theme-core--token-tag--language-scheme: ();
$prismjs-theme-core--token-tag--language-scss: ();
$prismjs-theme-core--token-tag--language-smalltalk: ();
$prismjs-theme-core--token-tag--language-smarty: ();
$prismjs-theme-core--token-tag--language-soy: ();
$prismjs-theme-core--token-tag--language-sql: ();
$prismjs-theme-core--token-tag--language-stylus: ();
$prismjs-theme-core--token-tag--language-swift: ();
$prismjs-theme-core--token-tag--language-tap: ();
$prismjs-theme-core--token-tag--language-tcl: ();
$prismjs-theme-core--token-tag--language-textile: ();
$prismjs-theme-core--token-tag--language-tsx: ();
$prismjs-theme-core--token-tag--language-tt2: ();
$prismjs-theme-core--token-tag--language-twig: ();
$prismjs-theme-core--token-tag--language-typescript: ();
$prismjs-theme-core--token-tag--language-vbnet: ();
$prismjs-theme-core--token-tag--language-velocity: ();
$prismjs-theme-core--token-tag--language-verilog: ();
$prismjs-theme-core--token-tag--language-vhdl: ();
$prismjs-theme-core--token-tag--language-vim: ();
$prismjs-theme-core--token-tag--language-visual-basic: ();
$prismjs-theme-core--token-tag--language-wasm: ();
$prismjs-theme-core--token-tag--language-wiki: ();
$prismjs-theme-core--token-tag--language-xeora: ();
$prismjs-theme-core--token-tag--language-xojo: ();
$prismjs-theme-core--token-tag--language-xquery: ();
$prismjs-theme-core--token-tag--language-yaml: ();
