$prismjs-theme-core--token-hexcode: ();
$prismjs-theme-core--token-hexcode--style: ();
$prismjs-theme-core--token-hexcode--language-abap: ();
$prismjs-theme-core--token-hexcode--language-actionscript: ();
$prismjs-theme-core--token-hexcode--language-ada: ();
$prismjs-theme-core--token-hexcode--language-apacheconf: ();
$prismjs-theme-core--token-hexcode--language-apl: ();
$prismjs-theme-core--token-hexcode--language-applescript: ();
$prismjs-theme-core--token-hexcode--language-arduino: ();
$prismjs-theme-core--token-hexcode--language-arff: ();
$prismjs-theme-core--token-hexcode--language-asciidoc: ();
$prismjs-theme-core--token-hexcode--language-asm6502: ();
$prismjs-theme-core--token-hexcode--language-aspnet: ();
$prismjs-theme-core--token-hexcode--language-autohotkey: ();
$prismjs-theme-core--token-hexcode--language-autoit: ();
$prismjs-theme-core--token-hexcode--language-bash: ();
$prismjs-theme-core--token-hexcode--language-basic: ();
$prismjs-theme-core--token-hexcode--language-batch: ();
$prismjs-theme-core--token-hexcode--language-bison: ();
$prismjs-theme-core--token-hexcode--language-brainfuck: ();
$prismjs-theme-core--token-hexcode--language-bro: ();
$prismjs-theme-core--token-hexcode--language-c: ();
$prismjs-theme-core--token-hexcode--language-clike: ();
$prismjs-theme-core--token-hexcode--language-clojure: ();
$prismjs-theme-core--token-hexcode--language-coffeescript: ();
$prismjs-theme-core--token-hexcode--language-core: ();
$prismjs-theme-core--token-hexcode--language-cpp: ();
$prismjs-theme-core--token-hexcode--language-crystal: ();
$prismjs-theme-core--token-hexcode--language-csharp: ();
$prismjs-theme-core--token-hexcode--language-csp: ();
$prismjs-theme-core--token-hexcode--language-css: (
	color: #aaf
);
$prismjs-theme-core--token-hexcode--language-d: ();
$prismjs-theme-core--token-hexcode--language-dart: ();
$prismjs-theme-core--token-hexcode--language-diff: ();
$prismjs-theme-core--token-hexcode--language-django: ();
$prismjs-theme-core--token-hexcode--language-docker: ();
$prismjs-theme-core--token-hexcode--language-eiffel: ();
$prismjs-theme-core--token-hexcode--language-elixir: ();
$prismjs-theme-core--token-hexcode--language-elm: ();
$prismjs-theme-core--token-hexcode--language-erb: ();
$prismjs-theme-core--token-hexcode--language-erlang: ();
$prismjs-theme-core--token-hexcode--language-flow: ();
$prismjs-theme-core--token-hexcode--language-fortran: ();
$prismjs-theme-core--token-hexcode--language-fsharp: ();
$prismjs-theme-core--token-hexcode--language-gedcom: ();
$prismjs-theme-core--token-hexcode--language-gherkin: ();
$prismjs-theme-core--token-hexcode--language-git: ();
$prismjs-theme-core--token-hexcode--language-glsl: ();
$prismjs-theme-core--token-hexcode--language-gml: ();
$prismjs-theme-core--token-hexcode--language-go: ();
$prismjs-theme-core--token-hexcode--language-graphql: ();
$prismjs-theme-core--token-hexcode--language-groovy: ();
$prismjs-theme-core--token-hexcode--language-haml: ();
$prismjs-theme-core--token-hexcode--language-handlebars: ();
$prismjs-theme-core--token-hexcode--language-haskell: ();
$prismjs-theme-core--token-hexcode--language-haxe: ();
$prismjs-theme-core--token-hexcode--language-hpkp: ();
$prismjs-theme-core--token-hexcode--language-hsts: ();
$prismjs-theme-core--token-hexcode--language-http: ();
$prismjs-theme-core--token-hexcode--language-ichigojam: ();
$prismjs-theme-core--token-hexcode--language-icon: ();
$prismjs-theme-core--token-hexcode--language-inform7: ();
$prismjs-theme-core--token-hexcode--language-ini: ();
$prismjs-theme-core--token-hexcode--language-io: ();
$prismjs-theme-core--token-hexcode--language-j: ();
$prismjs-theme-core--token-hexcode--language-java: ();
$prismjs-theme-core--token-hexcode--language-javascript: ();
$prismjs-theme-core--token-hexcode--language-jolie: ();
$prismjs-theme-core--token-hexcode--language-json: ();
$prismjs-theme-core--token-hexcode--language-jsx: ();
$prismjs-theme-core--token-hexcode--language-julia: ();
$prismjs-theme-core--token-hexcode--language-keyman: ();
$prismjs-theme-core--token-hexcode--language-kotlin: ();
$prismjs-theme-core--token-hexcode--language-latex: ();
$prismjs-theme-core--token-hexcode--language-less: ();
$prismjs-theme-core--token-hexcode--language-liquid: ();
$prismjs-theme-core--token-hexcode--language-lisp: ();
$prismjs-theme-core--token-hexcode--language-livescript: ();
$prismjs-theme-core--token-hexcode--language-lolcode: ();
$prismjs-theme-core--token-hexcode--language-lua: ();
$prismjs-theme-core--token-hexcode--language-makefile: ();
$prismjs-theme-core--token-hexcode--language-markdown: ();
$prismjs-theme-core--token-hexcode--language-markup: ();
$prismjs-theme-core--token-hexcode--language-markup-templating: ();
$prismjs-theme-core--token-hexcode--language-matlab: ();
$prismjs-theme-core--token-hexcode--language-mel: ();
$prismjs-theme-core--token-hexcode--language-mizar: ();
$prismjs-theme-core--token-hexcode--language-monkey: ();
$prismjs-theme-core--token-hexcode--language-n4js: ();
$prismjs-theme-core--token-hexcode--language-nasm: ();
$prismjs-theme-core--token-hexcode--language-nginx: ();
$prismjs-theme-core--token-hexcode--language-nim: ();
$prismjs-theme-core--token-hexcode--language-nix: ();
$prismjs-theme-core--token-hexcode--language-nsis: ();
$prismjs-theme-core--token-hexcode--language-objectivec: ();
$prismjs-theme-core--token-hexcode--language-ocaml: ();
$prismjs-theme-core--token-hexcode--language-opencl: ();
$prismjs-theme-core--token-hexcode--language-oz: ();
$prismjs-theme-core--token-hexcode--language-parigp: ();
$prismjs-theme-core--token-hexcode--language-parser: ();
$prismjs-theme-core--token-hexcode--language-pascal: ();
$prismjs-theme-core--token-hexcode--language-perl: ();
$prismjs-theme-core--token-hexcode--language-php: ();
$prismjs-theme-core--token-hexcode--language-plsql: ();
$prismjs-theme-core--token-hexcode--language-powershell: ();
$prismjs-theme-core--token-hexcode--language-processing: ();
$prismjs-theme-core--token-hexcode--language-prolog: ();
$prismjs-theme-core--token-hexcode--language-properties: ();
$prismjs-theme-core--token-hexcode--language-protobuf: ();
$prismjs-theme-core--token-hexcode--language-pug: ();
$prismjs-theme-core--token-hexcode--language-puppet: ();
$prismjs-theme-core--token-hexcode--language-pure: ();
$prismjs-theme-core--token-hexcode--language-python: ();
$prismjs-theme-core--token-hexcode--language-q: ();
$prismjs-theme-core--token-hexcode--language-qore: ();
$prismjs-theme-core--token-hexcode--language-r: ();
$prismjs-theme-core--token-hexcode--language-reason: ();
$prismjs-theme-core--token-hexcode--language-renpy: ();
$prismjs-theme-core--token-hexcode--language-rest: ();
$prismjs-theme-core--token-hexcode--language-rip: ();
$prismjs-theme-core--token-hexcode--language-roboconf: ();
$prismjs-theme-core--token-hexcode--language-ruby: ();
$prismjs-theme-core--token-hexcode--language-rust: ();
$prismjs-theme-core--token-hexcode--language-sas: ();
$prismjs-theme-core--token-hexcode--language-sass: ();
$prismjs-theme-core--token-hexcode--language-scala: ();
$prismjs-theme-core--token-hexcode--language-scheme: ();
$prismjs-theme-core--token-hexcode--language-scss: ();
$prismjs-theme-core--token-hexcode--language-smalltalk: ();
$prismjs-theme-core--token-hexcode--language-smarty: ();
$prismjs-theme-core--token-hexcode--language-soy: ();
$prismjs-theme-core--token-hexcode--language-sql: ();
$prismjs-theme-core--token-hexcode--language-stylus: ();
$prismjs-theme-core--token-hexcode--language-swift: ();
$prismjs-theme-core--token-hexcode--language-tap: ();
$prismjs-theme-core--token-hexcode--language-tcl: ();
$prismjs-theme-core--token-hexcode--language-textile: ();
$prismjs-theme-core--token-hexcode--language-tsx: ();
$prismjs-theme-core--token-hexcode--language-tt2: ();
$prismjs-theme-core--token-hexcode--language-twig: ();
$prismjs-theme-core--token-hexcode--language-typescript: ();
$prismjs-theme-core--token-hexcode--language-vbnet: ();
$prismjs-theme-core--token-hexcode--language-velocity: ();
$prismjs-theme-core--token-hexcode--language-verilog: ();
$prismjs-theme-core--token-hexcode--language-vhdl: ();
$prismjs-theme-core--token-hexcode--language-vim: ();
$prismjs-theme-core--token-hexcode--language-visual-basic: ();
$prismjs-theme-core--token-hexcode--language-wasm: ();
$prismjs-theme-core--token-hexcode--language-wiki: ();
$prismjs-theme-core--token-hexcode--language-xeora: ();
$prismjs-theme-core--token-hexcode--language-xojo: ();
$prismjs-theme-core--token-hexcode--language-xquery: ();
$prismjs-theme-core--token-hexcode--language-yaml: ();
